<div class="rate-modal">
  <div class="block">
    <h3 class="title">Rating system</h3>
    <p>Our ratings are formed exclusively on such data as</p>
  </div>

  <div class="block">
    <p><b>Ingredient Impact:</b> We evaluate each individual ingredient on factors such as benefit, weakness,
      contaminant, and
      allergen, combining all these ingredients and their effects we get an overall score</p>
  </div>
  <div class="block">
    <p><b>Manufacturer Transparency:</b> The clarity and completeness of the information provided by the
      manufacturer about the
      product also play a crucial role in the rating.</p>
  </div>

  <div class="block rating-system">
    <p><b>Raitings levels</b></p>

    <div class="d-flex ion-align-items-center">
      <ion-icon [src]="'./assets/img/icons/state-good.svg'"></ion-icon>
      <span>God: 8-10</span>
    </div>
    <div class="d-flex ion-align-items-center">
      <ion-icon [src]="'./assets/img/icons/state-normal.svg'"></ion-icon>
      <span>Not bad: 4-7</span>
    </div>
    <div class="d-flex ion-align-items-center">
      <ion-icon [src]="'./assets/img/icons/state-bad.svg'"></ion-icon>
      <span>Bad: 0-3</span>
    </div>
  </div>
  <div class="block">
    <p>These factors combine to provide a reliable and informative rating to help users make informed decisions
      about their
      supplements.</p>
  </div>
</div>