<div class="product" [ngClass]="type">
  <div class="image">
    <app-img [src]="product?.image" cssClasses="img-fit-contain" *ngIf="product?.image"></app-img>
  </div>
  <div class="content">
    <div class="category medium">{{product?.category}}</div>
    <div class="title text-s line-clamp-3 fw-600 dark">{{product?.title}}</div>
    <div class="product-bottom">
      <app-rating-count [rating]="product?.score" [type]="'badge'"></app-rating-count>
      <app-favorite-btn (favorited)="favoriteHandle($event)" [product]="product"></app-favorite-btn>
    </div>
  </div>
</div>