.product {
  &.vertical {
    border-radius: 10px;
    border: 1px solid #e9e9e9;

    .image {
      padding: 14px 10px;
      height: 132px;
      background-color: #f8f8f8;
    }
    .content {
      padding: 12px;
    }
  }

  &.horizontal {
    display: flex;
    .image {
      padding: 14px 10px;
      height: 132px;
      width: 110px;
      min-width: 110px;
      background-color: #f8f8f8;
      border-radius: 10px;
      border: 1px solid #e9e9e9;
      margin-right: 12px;
    }
    .content {
      padding-right: 6px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .title {
    min-height: 48px;
    margin-bottom: 8px;
  }
  .category {
    margin-bottom: 2px;
    font-size: 10px;
    font-weight: 500;
    line-height: 14px;
    text-transform: uppercase;
  }

  &-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .star {
    width: 16px;
    min-width: 16px;
    height: 16px;
  }

  .review-count {
    font-size: 10px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0;
    color: #a3a3a3;
  }
}
