<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="sm">Reviews</ion-title>
    <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10 fw-500" fill="clear" mode="md"
        (click)="navCtrl.navigateForward('/product/add-review')">
        <!-- (click)="navCtrl.navigateForward('/product//add-review')" -->
        Add review
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="product-detail">
      <div class="image">
        <app-img [src]="product?.image" cssClasses="img-fit-contain" *ngIf="product?.image"></app-img>
      </div>
      <ion-text>
        <p class="text-xs medium fw-400 ion-text-uppercase m-bottom--xxx-small">{{product?.category}}</p>
        <p class="text-s dark fw-600">{{product?.title}}</p>
      </ion-text>
    </div>

    <div class="content">
      <div class="review-detail">
        <div class="review-detail__counts">
          <div class="average dark fw-700">5.0</div>
          <div vertical="center">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star lg"></ion-icon>
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
          </div>
          <p class="text-s medium fw-500">Based on 32 reviews</p>
        </div>
        <div class="review-detail__lines">
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">5</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '80%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">4</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '40%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">3</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '20%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">2</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '10%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">1</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '0%'}"></span>
            </div>
          </div>
        </div>
      </div>

      <ion-list lines="none">
        <ion-item *ngFor="let product of reviewedProducts" lines="none">
          <div class="reviewed-list__wrapper p-vertical--medium">

            <div horizontal="between" class="m-bottom--medium">
              <!-- Author -->
              <div vertical="center">
                <!-- Avatar -->
                <app-img [src]="'./assets/img/temp/photo.png'" cssClasses="img-fit-cover"
                  class="m-right--x-small reviewed-list__avatar"></app-img>
                <!-- / Avatar -->

                <div>
                  <!-- Author name -->
                  <div class="m-bottom--xx-small reviewed-list__author-name">
                    Anna Armas
                  </div>
                  <!-- / Author name -->

                  <!-- Stars -->
                  <div vertical="center">
                    <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
                    <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                    <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                    <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                    <ion-icon [src]="'./assets/img/icons/star-icon.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                  </div>
                  <!-- / Stars -->
                </div>
              </div>
              <!-- / Author -->

              <!-- Date -->
              <div class="reviewed-list__date">
                12 April 2023
              </div>
              <!-- / Date -->
            </div>

            <div>
              <!-- Title -->
              <div class="reviewed-list__comment-title m-bottom--xx-small">
                Title
              </div>
              <!-- / Title -->

              <!-- Message -->
              <div class="reviewed-list__comment-message m-bottom--small">
                Lorem ipsum dolor sit amet consectetur. Suspendisse vitae quisque risus pulvinar. Tristique ornare
                integer
                magna et semper.
              </div>
              <!-- / Message -->

              <!-- Likes / dislikes -->
              <div horizontal="between" vertical="center">
                <div class="reviewed-list__likes-text">
                  Do you find this review useful?
                </div>

                <div vertical="center">
                  <!-- Likes -->
                  <div vertical="center" class="m-right--small">
                    <ion-icon src="./assets/img/icons/like-icon-colored.svg" class="m-right--xx-small"></ion-icon>
                    <div class="reviewed-list__likes-count">
                      1
                    </div>
                  </div>
                  <!-- / Likes -->

                  <!-- Dislikes -->
                  <div vertical="center">
                    <ion-icon src="./assets/img/icons/dislike-icon.svg" class="m-right--xx-small"></ion-icon>
                    <div class="reviewed-list__likes-count">
                      0
                    </div>
                  </div>
                  <!-- / Dislikes -->
                </div>
              </div>
              <!-- / Likes / dislikes -->
            </div>

          </div>
        </ion-item>
      </ion-list>
    </div>

  </ion-grid>
</ion-content>