<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="cancelModal()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="sm">Reviews</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10 fw-500" fill="clear" mode="md"
        (click)="navCtrl.navigateForward('/product/add-review')"> 
        Add review
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="product-detail">
      <div class="image">
        <app-img [src]="product?.image" cssClasses="img-fit-contain" *ngIf="product?.image"></app-img>
      </div>
      <ion-text>
        <p class="text-xs medium fw-400 ion-text-uppercase m-bottom--xxx-small">{{product?.category?.title}}</p>
        <p class="text-s dark fw-600">{{product?.title}}</p>
      </ion-text>
    </div>

    <div class="content">
      <div class="review-detail">
        <div class="review-detail__counts">
          <div class="average dark fw-700">{{ averageAmount }}</div>
          <div vertical="center">
            <ion-icon
              [src]="averageAmount >= 1 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
              class="reviewed-list__star lg"></ion-icon>
            <ion-icon
              [src]="averageAmount >= 2 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
            <ion-icon
              [src]="averageAmount >= 3 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
            <ion-icon
              [src]="averageAmount >= 4 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
            <ion-icon
              [src]="averageAmount >= 5 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
              class="reviewed-list__star lg m-left--x-small"></ion-icon>
          </div>
          <p class="text-s medium fw-500">Based on {{reviews?.length}} reviews</p>
        </div>
        <div class="review-detail__lines">
          <ng-container *ngFor="let rating of [5, 4, 3, 2, 1]">
            <div class="review-line">
              <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
              <div class="review-line__value">{{rating}}</div>
              <div class="review-line__progress">
                <span [ngStyle]="{'width': getRatingPercentage(rating)}"></span>
              </div>
            </div>
          </ng-container>
          <!-- <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">4</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '40%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">3</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '20%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">2</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '10%'}"></span>
            </div>
          </div>
          <div class="review-line">
            <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="reviewed-list__star"></ion-icon>
            <div class="review-line__value">1</div>
            <div class="review-line__progress">
              <span [ngStyle]="{'width': '0%'}"></span>
            </div>
          </div> -->
        </div>
      </div>

      <ion-list lines="none">
        <ion-item *ngFor="let review of reviews" lines="none">
          <div class="reviewed-list__wrapper p-vertical--medium">

            <div horizontal="between" class="m-bottom--medium">

              <div vertical="center">

                <!-- <app-img [src]="'./assets/img/temp/photo.png'" cssClasses="img-fit-cover"
                  class="m-right--x-small reviewed-list__avatar"></app-img> -->


                <div>
                  <!-- <div class="m-bottom--xx-small reviewed-list__author-name">
                    Anna Armas
                  </div> -->

                  <!-- Stars -->
                  <div vertical="center">
                    <ion-icon
                      [src]="review?.rating >= 1 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
                      class="reviewed-list__star"></ion-icon>
                    <ion-icon
                      [src]="review?.rating >= 2 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                    <ion-icon
                      [src]="review?.rating >= 3 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                    <ion-icon
                      [src]="review?.rating >= 4 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                    <ion-icon
                      [src]="review?.rating >= 5 ? './assets/img/icons/star-icon.svg' : './assets/img/icons/star-default.svg'"
                      class="reviewed-list__star m-left--xx-small"></ion-icon>
                  </div>
                  <!-- / Stars -->
                </div>
              </div>
              <!-- / Author -->

              <!-- Date -->
              <div class="reviewed-list__date">
                {{review?.review_date | date:'d MMMM y'}}
              </div>
              <!-- / Date -->
            </div>

            <div>
              <!-- Title -->
              <div class="reviewed-list__comment-title m-bottom--xx-small">
                {{review?.title}}
              </div>
              <!-- / Title -->

              <!-- Message -->
              <div class="reviewed-list__comment-message m-bottom--small">
                {{review?.text}}
              </div>
              <!-- / Message -->

              <!-- Likes / dislikes -->
              <div horizontal="between" vertical="center">
                <div class="reviewed-list__likes-text">
                  Do you find this review useful?
                </div>

                <div vertical="center">
                  <!-- Likes -->
                  <div vertical="center" class="m-right--small">
                    <ion-icon src="./assets/img/icons/like-icon-colored.svg" class="m-right--xx-small"></ion-icon>
                    <div class="reviewed-list__likes-count">
                      {{review?.helpfulness_score || 0}}
                    </div>
                  </div>
                  <!-- / Likes -->

                  <!-- Dislikes -->
                  <div vertical="center">
                    <ion-icon src="./assets/img/icons/dislike-icon.svg" class="m-right--xx-small"></ion-icon>
                    <div class="reviewed-list__likes-count">
                      0
                    </div>
                  </div>
                  <!-- / Dislikes -->
                </div>
              </div>
              <!-- / Likes / dislikes -->
            </div>

          </div>
        </ion-item>
      </ion-list>
    </div>

  </ion-grid>
</ion-content>