:host {
  display: block;
}
.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
p {
  font-size: 14px;
  line-height: 20px;
  color: #403f54;
}

.table {
  margin-top: 8px;
}

.row {
  display: flex;
  border-bottom: 1px solid #e0e0e0;

  &.header {
    border-top: 1px solid #e0e0e0;
    .cell {
      font-weight: 700;
    }
  }

  .cell {
    font-size: 14px;
    line-height: 20px;
    color: #403f54;
    font-weight: 500;
    padding: 8px;

    &:not(:last-child) {
      border-right: 1px solid #e0e0e0;
    }
    &:first-child {
      width: 50%;
      padding-left: 0;
      font-weight: 600;
    }
    &:last-child {
      padding-right: 0;
    }
    width: 25%;
  }
}
