<div class="section">
  <div class="title text-l fw-600 dark pb-5">Supplement Fact</div>
  <p><span class="fw-700" *ngIf="product?.serving_size"> Serving size:</span> {{product?.serving_size}}</p>
  <p><span class="fw-700" *ngIf="product?.servings_per_supplement">Serving per container:</span>
    {{product?.servings_per_supplement}}</p>

  <div class="table">
    <div class="row header">
      <div class="cell"></div>
      <div class="cell">Amount per serving</div>
      <div class="cell">% Daily Values**</div>
    </div>

    <div class="row" *ngFor="let item of product?.ingredients">
      <div class="cell">{{item?.title}}</div>
      <div class="cell">{{item?.amount}}{{item?.unit}}</div>
      <div class="cell">{{item?.daily_value}}</div>
    </div>
    <!-- <div class="row">
      <div class="cell">Calories From Fat</div>
      <div class="cell">5</div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell">Total Fat </div>
      <div class="cell">0.6g</div>
      <div class="cell">1%</div>
    </div>
    <div class="row">
      <div class="cell">Saturated Fat </div>
      <div class="cell">0.2g</div>
      <div class="cell">1%</div>
    </div>
    <div class="row">
      <div class="cell">Total Carbohydrates </div>
      <div class="cell">5</div>
      <div class="cell"></div>
    </div>
    <div class="row">
      <div class="cell">Dietary Fiber</div>
      <div class="cell">0.6g</div>
      <div class="cell">1%</div>
    </div>
    <div class="row">
      <div class="cell">Sugars </div>
      <div class="cell">0.2g</div>
      <div class="cell">1%</div>
    </div> -->
  </div>

  <p>**Percent Daily Values are based on a 2,000 calorie diet.</p>
  <p>***Daily Value not established.</p>
</div>