<ion-list lines="full">
  <ion-item *ngFor="let product of productsHistory">
    <div class="products-history__wrapper p-vertical--medium" vertical="center" horizontal="between">
      <div class="p-right--medium" vertical="center">
        <!-- Image -->
        <div
          vertical="center"
          horizontal="center"
          class="products-history__product p-around--x-small m-right--small"
        >
          <app-img [src]="product?.image" cssClasses="img-fit-contain" class="products-history__product-img"></app-img>
        </div>
        <!-- / Image -->

        <div direction="column">
          <!-- Name -->
          <div class="products-history__name m-bottom--xx-small">
            {{ product?.category }}
          </div>
          <!-- / Name -->

          <!-- Description -->
          <div class="products-history__description">
            {{ product?.title }}
          </div>
          <!-- / Description -->
        </div>
      </div>

      <!-- List actions -->
      <ion-button class="btn btn-link m-right--x-small" fill="clear" mode="md">
        <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
      </ion-button>
      <!-- / List actions -->
    </div>
  </ion-item>
</ion-list>

<div class="p-horizontal--medium p-top--medium p-bottom--xx-large">
  <ion-button
    class="btn btn-sm"
    expand="block"
    fill="outline"
    mode="md"
    color="primary"
    (click)="onCleanHistory.emit()"
  >
    <b>Clean history</b>
  </ion-button>
</div>
