.products-history__wrapper {
  width: 100%;
}

.products-history__name {
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0;
  color: #9e9d9d;
}

.products-history__description {
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0;
  color: #04002c;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.products-history__product {
  min-width: 48px;
  width: 48px;
  height: 58px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  background: #f8f8f8;
}

.products-history__product-img {
  height: 100%;
  width: 100%;
}

.products-history__search-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0;
  color: #04002c;
}

.products-history__search-value {
  color: #9e9d9d;
}

.products-history__category-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  color: #04002c;
}

.products-history__category-image {
  min-width: 24px;
  width: 24px;
  height: 24px;
}
