<!-- Search -->
<div class="p-bottom--medium" [formGroup]="searchForm" *ngIf="options && options.length > 7">
  <ion-searchbar mode="ios" placeholder="Search..." show-clear-button="never"
    [searchIcon]="'./assets/img/icons/search-icon-grey.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
    formControlName="search" class="search" (ionChange)="search($event)"></ion-searchbar>
</div>
<!-- / Search -->


<ion-list *ngIf="optionsToShow?.length">
  <ng-container *ngFor="let option of optionsToShow;let i = index">
    <!-- <ion-item lines="none" *ngIf="open">-->
    <ion-item lines="none" *ngIf="i <= 9 || open && i >= 10">
      <ion-label class="dark fw-500">
        <ion-icon slot="start" class="m-right--x-small"
          [ngStyle]="{'width': option?.type === 'user_rating' ? '116px' : '20px'}" [src]="option?.icon"
          *ngIf="option?.icon"></ion-icon>
        {{ option?.type !== 'user_rating' ? option?.label : ''}}
        <span class="medium">({{option?.count || 0}})</span>
      </ion-label>

      <ion-checkbox slot="end" (ionChange)="checkboxChangeState($event, option)" class="checkbox flex-shrink--none"
        [checked]="option.checked"></ion-checkbox>
    </ion-item>
  </ng-container>
</ion-list>


<ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="toggleAllOptions()"
  *ngIf="countHide !== 0">
  {{open ? 'Roll up' : 'Show all ('+countHide+')'}}
</ion-button>


<ng-container *ngIf="!optionsToShow?.length">
  <p class="ion-text-center dark fw-600 text-lg">Nothing was found</p>
</ng-container>