<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Change password</ion-title>
    <!-- / Header title -->

    <!-- Save action -->
    <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10" fill="clear" mode="md" *ngIf="!loading"
        [disabled]="!form.valid || (form.get('newPassword')?.value !== form.get('repeatNewPassword')?.value)"
        (click)="handleSaveChanges()">
        Save
      </ion-button>
      <ion-spinner class="spinner" color="light" name="crescent" *ngIf="loading"></ion-spinner>
    </ion-buttons>
    <!-- / Save action -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form p-vertical--large p-horizontal--medium" [formGroup]="form">
    <!-- Current password -->
    <div class="form-control relative-block">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Current password</ion-label>
        <ion-input formControlName="old_password" [type]="showCurrentPassword ? 'text' : 'password'" inputmode="text"
          placeholder="Enter your current password" autocomplete="off"></ion-input>
        <ion-note slot="error" *ngIf="form.get('old_password')!.invalid && form.get('old_password')!.touched">Field is
          invalid</ion-note>
      </ion-item>
      <ion-icon
        [src]="showPassword === 'old_password'  ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
        [color]="showPassword === 'old_password'  ? 'primary' : 'medium'" slot="end"
        (click)="toggleShowPassword('old_password')"></ion-icon>
    </div>
    <!-- / Current password -->

    <!-- New password -->
    <div class="form-control relative-block">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">New password</ion-label>
        <ion-input formControlName="password" [type]="showNewPassword ? 'text' : 'password'" inputmode="text"
          placeholder="Enter your new password" autocomplete="off"></ion-input>
        <ion-note slot="error" *ngIf="form.get('password')!.invalid && form.get('password')!.touched">The password
          must contain at least 8 characters, at least: 1 number, 1 special
          character, 1 uppercase letter,
          1
          lowercase letter.</ion-note>
      </ion-item>
      <ion-icon
        [src]="showPassword === 'password'  ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
        [color]="showPassword === 'password'  ? 'primary' : 'medium'" slot="end"
        (click)="toggleShowPassword('password')"></ion-icon>
    </div>
    <!-- / New password -->

    <!-- Repeat new password -->
    <div class="form-control relative-block">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Repeat new password</ion-label>
        <ion-input formControlName="confirm_password" [type]="showRepeatNewPassword ? 'text' : 'password'"
          inputmode="text" placeholder="Enter your new password" autocomplete="off"></ion-input>
        <ion-note slot="error"
          *ngIf="form.get('confirm_password')!.invalid && form.get('confirm_password')!.touched">Passwords
          does not
          match</ion-note>
      </ion-item>
      <ion-icon
        [src]="showPassword === 'confirm_password'  ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
        [color]="showPassword === 'confirm_password'  ? 'primary' : 'medium'" slot="end"
        (click)="toggleShowPassword('confirm_password')"></ion-icon>
    </div>
    <!-- / Repeat new password -->
  </form>
</ion-content>