<ion-header>
  <ion-toolbar>
    <!-- Header actions -->
    <div vertical="center" horizontal="between" class="m-top--x-small">
      <!-- Back action -->
      <ion-button class="btn btn-sm-x" fill="clear" mode="md" (click)="navCtrl.navigateRoot('home/tabs/tab/more')">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
      <!-- / Back action -->

      <!-- Edit action -->
      <ion-button
        class="btn btn-link btn-primary"
        mode="md"
        [disabled]="!form.valid || (form.get('newPassword')?.value !== form.get('repeatNewPassword')?.value)"
        (click)="handleSaveChanges()"
      >
        Save changes
      </ion-button>
      <!-- / Edit action -->
    </div>
    <!-- / Header actions -->

    <!-- Header title -->
    <div class="change-password__header-title m-bottom--small m-top--x-small">
      Change password
    </div>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form p-vertical--large p-horizontal--medium" [formGroup]="form">
    <!-- Current password -->
    <div class="form-control change-password__relative">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Current password</ion-label>
        <ion-input
          formControlName="currentPassword"
          [type]="showCurrentPassword ? 'text' : 'password'"
          inputmode="text"
          placeholder="Enter your current password"
          autocomplete="off"
        ></ion-input>
      </ion-item>
      <ion-icon
        [src]="showCurrentPassword ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
        [color]="showCurrentPassword ? 'primary' : 'medium'"
        slot="end"
        (click)="showCurrentPassword = !showCurrentPassword"
        class="change-password__icon"
      ></ion-icon>
    </div>
    <!-- / Current password -->

    <!-- New password -->
    <div class="form-control change-password__relative">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">New password</ion-label>
        <ion-input
          formControlName="newPassword"
          [type]="showNewPassword ? 'text' : 'password'"
          inputmode="text"
          placeholder="Enter your new password"
          autocomplete="off"
        ></ion-input>
      </ion-item>
      <ion-icon
        [src]="showNewPassword ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
        [color]="showNewPassword ? 'primary' : 'medium'"
        slot="end"
        (click)="showNewPassword = !showNewPassword"
        class="change-password__icon"
      ></ion-icon>
    </div>
    <!-- / New password -->

    <!-- Repeat new password -->
    <div class="form-control change-password__relative">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Repeat new password</ion-label>
        <ion-input
          formControlName="repeatNewPassword"
          [type]="showRepeatNewPassword ? 'text' : 'password'"
          inputmode="text"
          placeholder="Enter your new password"
          autocomplete="off"
        ></ion-input>
      </ion-item>
      <ion-icon
        [src]="showRepeatNewPassword ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
        [color]="showRepeatNewPassword ? 'primary' : 'medium'"
        slot="end"
        (click)="showRepeatNewPassword = !showRepeatNewPassword"
        class="change-password__icon"
      ></ion-icon>
    </div>
    <!-- / Repeat new password -->
  </form>
</ion-content>
