<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Report a problem</ion-title>
    <!-- / Header title -->

    <!-- Save action -->
    <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10" fill="clear" mode="md" [disabled]="!form.valid"
        *ngIf="!loading" (click)="handleSaveChanges()">
        Save
      </ion-button>
    </ion-buttons>
    <!-- / Save action -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form p-vertical--large p-horizontal--medium" [formGroup]="form">
    <!-- Problem theme -->
    <div class="form-control">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Problem theme</ion-label>
        <ion-input formControlName="theme" type="text" inputmode="text" placeholder="Enter problem theme"
          autocomplete="off"></ion-input>
      </ion-item>
    </div>
    <!-- / Problem theme -->

    <!-- Problem description -->
    <div class="form-control">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Problem description</ion-label>
        <ion-textarea formControlName="message" placeholder="Please describe the problem" [rows]="4"></ion-textarea>
      </ion-item>
    </div>
    <!-- / Problem description -->
  </form>
</ion-content>