<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Report a problem</ion-title>
    <!-- / Header title -->

    <!-- Save action -->
    <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10" fill="clear" mode="md" [disabled]="!form.valid"
        *ngIf="!loading" (click)="handleSaveChanges()">
        Save
      </ion-button>
    </ion-buttons>
    <!-- / Save action -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="form p-vertical--large p-horizontal--medium" [formGroup]="form">
    <!-- Problem theme -->
    <div class="form-control">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Problem theme</ion-label>
        <ion-input formControlName="theme" type="text" inputmode="text" placeholder="Enter problem theme"
          autocomplete="off"></ion-input>
        <ion-note slot="error" *ngIf="form.get('theme')!.invalid && form.get('theme')!.touched">Field
          is
          required</ion-note>
      </ion-item>
    </div>
    <!-- / Problem theme -->

    <!-- Problem description -->
    <div class="form-control">
      <ion-item class="form-item" mode="ios" lines="none">
        <ion-label position="stacked">Problem description</ion-label>
        <ion-textarea formControlName="message" placeholder="Please describe the problem" [rows]="4"></ion-textarea>
        <ion-note slot="error" *ngIf="form.get('message')!.invalid && form.get('message')!.touched">Field
          is required</ion-note>
      </ion-item>
    </div>
    <!-- / Problem description -->

    <div class="form-control image-controls">
      <ion-label position="stacked">Add image</ion-label>
      <ion-button class="btn secondary btn-sm" expand="block" fill="outline" mode="md" (click)="openGallery()"
        *ngIf="!images?.length" [disabled]="loadingPhoto">
        <ion-icon [src]="'./assets/img/icon/upload.svg'"></ion-icon>
        Upload image
        <ion-spinner class="spinner" color="primary" name="crescent" *ngIf="loadingPhoto"></ion-spinner>
      </ion-button>

      <div class="images-list" *ngIf="images?.length">
        <div class="item" *ngFor="let item of images; let i = index" (click)="openSourcePopover(i)">
          <app-img [src]="item?.src" cssClasses="img-fit-contain" (imgLoadedState)="imgLoaded($event, i)"
            [showSpinner]="false"></app-img>
          <ion-spinner class="spinner" color="primary" name="crescent" *ngIf="item?.loading"></ion-spinner>
        </div>
        <div class="item" (click)="openGallery()" [class.disabled]="loadingPhoto">
          <div class="content">
            <ion-icon [src]="'./assets/img/icon/upload.svg'"></ion-icon>
            <p>Upload image</p>
          </div>
          <ion-spinner class="spinner" color="primary" name="crescent" *ngIf="loadingPhoto"></ion-spinner>
        </div>
      </div>
    </div>
  </form>
</ion-content>