<!-- <ion-content> -->
<div class="content">
  <div direction="column" class="p-around--medium">
    <!-- Title -->
    <div class="add-favorite-list-product__title p-bottom--xx-small">
      Add to the list
    </div>
    <!-- / Title -->

    <!-- Selected product -->
    <div class="add-favorite-list-product__product-wrapper m-vertical--medium" vertical="center">
      <!-- Image -->
      <div class="add-favorite-list-product__product-img-wrapper m-right--small p-around--x-small" vertical="center"
        horizontal="center">
        <app-img [src]="product?.photo" cssClasses="img-fit-contain" class="add-favorite-list-product__product-img"
          *ngIf="product?.photo"></app-img>
      </div>
      <!-- / Image -->

      <div direction="column">
        <!-- Title -->
        <div class="add-favorite-list-product__product-title m-bottom--xxx-small">
          {{product?.category?.title}}
        </div>
        <!-- / Title -->

        <!-- Description -->
        <div class="add-favorite-list-product__product-description">
          {{product?.title}}
        </div>
        <!-- / Description -->
      </div>
    </div>
    <!-- / Selected product -->

    <!-- Create list -->
    <div class="p-vertical--xx-small">
      <ion-button class="btn btn-sm" expand="block" fill="outline" mode="md" color="primary"
        (click)="showCreateListModal()">
        <ion-icon [src]="'./assets/img/icons/add-icon-orange.svg'" class="m-right--x-small"></ion-icon>
        <b>Create list</b>
      </ion-button>
    </div>
    <!-- / Create list -->

    <!-- Favorite lists -->
    <ion-list lines="full" class="m-top--small" *ngIf="!isLoading">
      <ion-item *ngFor="let favorite of favoritesList" lines="none">
        <div class="add-favorite-list-product__list p-vertical--medium" vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- List name -->
            <div class="add-favorite-list-product__list-name m-bottom--xx-small">
              {{ favorite.name }}
            </div>
            <!-- / List name -->

            <!-- List description -->
            <div class="add-favorite-list-product__list-description">
              {{ favorite.description }}
            </div>
            <!-- / List description -->
          </div>

          <!-- List checkbox -->
          <ion-checkbox (ionChange)="checkboxChangeState($event, favorite.id)" class="checkbox"></ion-checkbox>
          <!-- / List checkbox -->
        </div>
      </ion-item>
    </ion-list>
    <div class="ion-text-center"><ion-spinner class="spinner" color="primary" name="lines"
        *ngIf="isLoading"></ion-spinner></div>
    <!-- / Favorite lists -->

    <!-- Apply -->
    <!-- <div class="p-top--xx-small">
      <ion-button class="btn btn-sm btn-primary" expand="block" fill="solid" mode="md"
        [disabled]="!selectedListsIds.length" (click)="handleApply()">
        <b>Apply</b>
      </ion-button>
    </div> -->
    <!-- / Apply -->
  </div>
</div>
<!-- </ion-content> -->

<ion-footer>
  <div class="p-vertical--x-small p-horizontal--medium">
    <ion-button class="btn btn-sm btn-primary" expand="block" fill="solid" mode="md"
      [disabled]="!selectedListsIds.length" (click)="handleApply()">
      <b>Apply</b>
    </ion-button>
  </div>
</ion-footer>