<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- Header title -->
    <ion-title class="sm">{{ type === 'privacy' ? 'Privacy Policy':'Terms of Service'}}</ion-title>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content p-around--medium">

    <ion-spinner class="spinner" color="primary" name="lines" *ngIf="isLoading"></ion-spinner>
    <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
    </ion-refresher>
    <div class="article" [innerHTML]="data | safeHtml"></div>
  </div>
</ion-content>