.favorites-list__list {
  width: 100%;
}

.favorites-list__list-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #04002c;
}

.favorites-list__list-description {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: left;
  color: #9e9d9d;
}

.favorites-list__list-product {
  min-width: 48px;
  width: 48px;
  height: 58px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
  background: #f8f8f8;
}

.favorites-list__list-product + .favorites-list__list-product {
  margin-left: 10px;
}

.favorites-list__count-number {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0;
  color: #9e9d9d;
}
[direction="column"] {
  flex-grow: 1;
}
// .preview-list {
//   display: grid;
//   gap: 10px;

//   // Адаптивна кількість колонок залежно від розміру екрану
//   grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
//   grid-auto-rows: 1fr;
// }
