<ion-content>
  <ion-list lines="full" *ngIf="!isLoading">
    <ion-item *ngFor="let favorite of favoritesList" (click)="onOpenDetails.emit(favorite.id)">
      <div class="favorites-list__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- List name -->
            <div class="favorites-list__list-name m-bottom--xx-small">
              {{ favorite?.name }}
            </div>
            <!-- / List name -->

            <!-- List description -->
            <div class="favorites-list__list-description">
              {{ favorite?.description }}
            </div>
            <!-- / List description -->

          </div>

          <!-- List actions -->
          <ion-button class="btn btn-link m-right--x-small" fill="clear" mode="md">
            <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
          </ion-button>
          <!-- / List actions -->
        </div>

        <!-- Products -->
        <div *ngIf="!!favorite?.supplements?.length" class="m-top--medium preview-list" vertical="center">
          <ng-container *ngFor="let product of favorite.supplements; let index = index">
            <div *ngIf="index < productsToShow" vertical="center" horizontal="center"
              class="favorites-list__list-product p-around--x-small">
              <app-img [src]="product?.images[0]?.url" cssClasses="img-fit-contain"
                class="favorites-list__list-product-img"></app-img>
            </div>
          </ng-container>

          <div *ngIf="handleProductsCount(favorite.supplements) > productsToShow" vertical="center" horizontal="center"
            class="favorites-list__list-product">
            <span class="favorites-list__count-number">
              + {{ handleProductsCount(favorite.supplements) - productsToShow }}
            </span>
          </div>
        </div>
        <!-- / Products -->
      </div>
    </ion-item>
  </ion-list>
  <ion-list lines="full" *ngIf="isLoading">
    <ion-item *ngFor="let favorite of [1,2,3,4]">
      <div class="favorites-list__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- List name -->
            <div class="favorites-list__list-name m-bottom--xx-small">
              <ion-skeleton-text [animated]="true" style="width: 50%;height: 12px;"></ion-skeleton-text>
            </div>
            <!-- / List name -->

            <!-- List description -->
            <div class="favorites-list__list-description">
              <ion-skeleton-text [animated]="true" style="width: 100%; height: 12px;"></ion-skeleton-text>
            </div>
            <!-- / List description -->
          </div>

          <!-- List actions -->
          <ion-button class="btn btn-link m-right--x-small" fill="clear" mode="md">
            <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
          </ion-button>
          <!-- / List actions -->
        </div>


      </div>
    </ion-item>
  </ion-list>
</ion-content>