<ion-header mode="ios">
  <ion-toolbar>
    <ion-img class="logo" src="./assets/img/logo-full.svg"></ion-img>
    <!-- <ion-buttons slot="end">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md"
        (click)="navCtrl.navigateRoot('home/tabs/tab/main')"> Skip </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="content">
      <h1 class="h1 pb-10 ion-text-center">Get started</h1>

      <p class="ion-text-center medium text-m mb-30">Create your account to get all the benefits of Supplement Score</p>

      <ion-button class="btn btn-primary mb-16" expand="block" fill="solid" mode="md"
        (click)="navCtrl.navigateRoot('auth/signup')">
        Create account
      </ion-button>

      <div class="divider mb-16">
        <span>or</span>
      </div>

      <ion-item class="btn btn-sign mb-10" mode="ios" lines="none" detail="false" button *ngIf="platformName === 'ios'">
        <!-- (click)="appleSignIn()" -->
        <ion-icon [src]="'./assets/img/icons/apple-logo.svg'" slot="start"></ion-icon>
        <ion-label>Continue with Apple</ion-label>
      </ion-item>
      <ion-item class="btn btn-sign mb-16" mode="ios" lines="none" detail="false" button
        (click)="authService.googleSignIn()">

        <ion-icon [src]="'./assets/img/icons/google-logo.svg'" slot="start"></ion-icon>
        <ion-label>Continue with Google</ion-label>
      </ion-item>


      <p class="ion-text-center bottom-text medium text-m ">
        Already have an account?
        <ion-button class="btn btn-link ml-10" fill="clear" mode="md" color="primary"
          (click)="navCtrl.navigateRoot('auth/login')">
          Log in
        </ion-button>
      </p>

    </div>
  </ion-grid>
</ion-content>