<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Profile details</ion-title>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner>
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)" *ngIf="!loading">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <ion-list lines="full" *ngIf="!loading">
    <!-- Photo -->
    <ion-item>
      <div class="profile-details__list p-vertical--large">
        <div vertical="center" horizontal="center" direction="column">
          <!-- Img -->
          <app-img [src]="profileDetails?.image" cssClasses="img-fit-cover" *ngIf="profileDetails?.image"
            class="m-bottom--medium profile-details__photo"></app-img>
          <!-- / Img -->

          <!-- Edit action -->
          <ion-button fill="clear" class="btn btn-link btn-orange" mode="md" (click)="openSourcePopover()">
            {{profileDetails?.image ? 'Change image' :'Add image'}}
          </ion-button>
          <!-- / Edit action -->
        </div>
      </div>
    </ion-item>
    <!-- / Photo -->

    <!-- First name -->
    <ion-item>
      <div class="profile-details__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- Title -->
            <div class="profile-details__title m-bottom--xx-small">
              {{ profileDetailsFields?.first_name }}
            </div>
            <!-- / Title -->

            <!-- Value -->
            <div class="profile-details__value">
              {{ profileDetails?.first_name }}
            </div>
            <!-- / Value -->
          </div>

          <!-- Edit action -->
          <ion-button fill="clear" class="btn btn-link btn-orange m-right--xx-small" mode="md"
            (click)="showEditDetailModal(profileDetailsFields.first_name, profileDetails.first_name)">
            Edit
          </ion-button>
          <!-- / Edit action -->
        </div>
      </div>
    </ion-item>
    <!-- / First name -->

    <!-- Last name -->
    <ion-item>
      <div class="profile-details__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- Title -->
            <div class="profile-details__title m-bottom--xx-small">
              {{ profileDetailsFields.last_name }}
            </div>
            <!-- / Title -->

            <!-- Value -->
            <div class="profile-details__value">
              {{ profileDetails?.last_name }}
            </div>
            <!-- / Value -->
          </div>

          <!-- Edit action -->
          <ion-button fill="clear" class="btn btn-link btn-orange m-right--xx-small" mode="md"
            (click)="showEditDetailModal(profileDetailsFields.last_name, profileDetails.last_name)">
            Edit
          </ion-button>
          <!-- / Edit action -->
        </div>
      </div>
    </ion-item>
    <!-- / Last name -->

    <!-- Email address -->
    <ion-item>
      <div class="profile-details__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- Title -->
            <div class="profile-details__title m-bottom--xx-small">
              {{ profileDetailsFields?.email }}
            </div>
            <!-- / Title -->

            <!-- Value -->
            <div class="profile-details__value">
              {{ profileDetails?.email }}
            </div>
            <!-- / Value -->
          </div>

          <!-- Edit action -->
          <ion-button fill="clear" class="btn btn-link btn-orange m-right--xx-small" mode="md"
            (click)="showEditDetailModal(profileDetailsFields.email, profileDetails.email)">
            Edit
          </ion-button>
          <!-- / Edit action -->
        </div>
      </div>
    </ion-item>
    <!-- / Email address -->

    <!-- Sex -->
    <ion-item>
      <div class="profile-details__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- Title -->
            <div class="profile-details__title m-bottom--xx-small">
              {{ profileDetailsFields?.gender }}
            </div>
            <!-- / Title -->

            <!-- Value -->
            <div class="profile-details__value">
              {{ profileDetails?.gender === 0 ? 'Male' : '' }}
              {{ profileDetails?.gender === 1 ? 'Female' : '' }}{{ profileDetails?.gender === 2 ? 'Other' : '' }}
            </div>
            <!-- / Value -->
          </div>

          <!-- Edit action -->
          <ion-button fill="clear" class="btn btn-link btn-orange m-right--xx-small" mode="md"
            (click)="showEditDetailModal(profileDetailsFields.gender, profileDetails.gender)">
            Edit
          </ion-button>
          <!-- / Edit action -->
        </div>
      </div>
    </ion-item>
    <!-- / Sex -->

    <!-- Birthday -->
    <ion-item lines="none">
      <div class="profile-details__list p-vertical--medium">
        <div vertical="center" horizontal="between">
          <div direction="column" class="p-right--medium">
            <!-- Title -->
            <div class="profile-details__title m-bottom--xx-small">
              {{ profileDetailsFields?.date_of_birth }}
            </div>
            <!-- / Title -->

            <!-- Value -->
            <div class="profile-details__value">
              {{ profileDetails?.date_of_birth }}
            </div>
            <!-- / Value -->
          </div>

          <!-- Edit action -->
          <ion-button fill="clear" class="btn btn-link btn-orange m-right--xx-small" mode="md"
            (click)="showEditDetailModal(profileDetailsFields.date_of_birth, profileDetails.date_of_birth)">
            Edit
          </ion-button>
          <!-- / Edit action -->
        </div>
      </div>
    </ion-item>
    <!-- / Birthday -->
  </ion-list>
</ion-content>