.profile-details__list {
  width: 100%;
}

.profile-details__title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  color: #9e9d9d;
}

.profile-details__value {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  color: #04002c;
}

.profile-details__photo {
  min-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
ion-title {
  padding-inline-end: 62px;
}
