<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="closePage()">
        <ion-icon
          [src]="openedInModal ? './assets/img/icon/close-icon.svg' : './assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="sm">Description</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner>
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)" *ngIf="!loading">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>


  <ng-container *ngIf="!loading">
    <div class="product-image">
      <app-rating-count [rating]="9.1" [type]="'badge'"></app-rating-count>
      <app-img [src]="product?.image" cssClasses="img-fit-contain" *ngIf="product?.image"></app-img>
    </div>


    <div class="product-main_info">

      <div class="medium fw-500 pb-5">{{product?.category}}</div>
      <div class="text-l fw-700 dark m-bottom--small">{{product?.title}}</div>

      <div vertical="center" class="m-bottom--medium">
        <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="star"></ion-icon>
        <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="star m-left--xx-small"></ion-icon>
        <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="star m-left--xx-small"></ion-icon>
        <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="star m-left--xx-small"></ion-icon>
        <ion-icon [src]="'./assets/img/icons/star-icon.svg'" class="star m-left--xx-small"></ion-icon>
        <div class="review-count m-left--x-small text-s">
          32
        </div>
      </div>

      <div class="product-controls">
        <ion-button class="btn btn-primary" expand="block" fill="solid" mode="md" (click)="shopNowProduct()">
          Shop now
        </ion-button>
        <div class="options">
          <app-favorite-btn (favorited)="favoriteHandle($event)" [product]="product" [size]="'md'"></app-favorite-btn>
          <ion-button shape="round" fill="outline" (click)="actionAlert()">
            <ion-icon slot="icon-only" [src]="'./assets/img/icons/add-feedback.svg'"></ion-icon>
          </ion-button>
          <ion-button shape="round" fill="outline" (click)="actionAlert()">
            <ion-icon slot="icon-only" [src]="'./assets/img/icons/icon-share.svg'"></ion-icon>
          </ion-button>
        </div>
      </div>


    </div>

    <div class="content">
      <div class="section p-vertical--medium p-horizontal--medium m-bottom--large">
        <div class="title text-l fw-600 dark m-bottom--x-large">Ingredients summary</div>

        <div class="chart">
          <app-chart [data]="dataChart" [backgroundColor]="backgroundColors"></app-chart>

          <div class="chart-text">
            <p class="h2 dark">52</p>
            <p class="medium text-m">Ingredients</p>
          </div>
        </div>

        <ion-segment (ionChange)="setType($event)" [value]="type" mode="ios" class="m-bottom--medium">
          <ion-segment-button value="ingredient">
            Ingredient Analysis
          </ion-segment-button>
          <ion-segment-button value="efects">
            Body Positive Efects

          </ion-segment-button>
        </ion-segment>

        <ng-container *ngIf="type === 'ingredient'">
          <ion-list class="list list-ingredients">
            <ion-item class="fw-600 text-m dark" button detail="true" lines="none"
              (click)="openIngredientsModal(product?.benefits)">
              <span class="indicator green"></span>
              <div class="dark ">Benefits</div>
              <div class="count medium m-left--x-small">
                32
              </div>
            </ion-item>
            <ion-item class="fw-600 text-m dark" button detail="true" lines="none"
              (click)="openIngredientsModal(product?.weaknesses)">
              <span class="indicator danger-bg"></span>
              <div class="dark ">Weaknesses</div>
              <div class="count medium m-left--x-small">
                7
              </div>
            </ion-item>
            <ion-item class="fw-600 text-m dark" button detail="true" lines="none"
              (click)="openIngredientsModal(product?.contaminants)">
              <span class="indicator primary-bg"></span>
              <div class="dark">Contaminants</div>
              <div class="count medium m-left--x-small">
                3
              </div>
            </ion-item>
            <ion-item class="fw-600 text-m dark" button detail="true" lines="none"
              (click)="openIngredientsModal(product?.allergens)">
              <span class="indicator warning-bg"></span>
              <div class="dark">Allergens</div>
              <div class="count medium m-left--x-small">
                5
              </div>
            </ion-item>
          </ion-list>
        </ng-container>

        <ng-container *ngIf="type === 'efects'">
          <ion-accordion-group [multiple]="true" class="list">
            <ion-accordion>
              <ion-item slot="header" class="text-m dark">
                <div class="dark fw-600">Blood sugar levels</div>
                <div class="count medium m-left--x-small">2</div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-item class="text-m primary fw-500" button detail="false" lines="none"
                  (click)="openIngredientModal('Green Tea Extract')">
                  Green Tea Extract
                </ion-item>
                <ion-item class="text-m primary fw-500" button detail="false" lines="none"
                  (click)="openIngredientModal('Rhodiola Root Extract')">
                  Rhodiola Root Extract
                </ion-item>
              </div>
            </ion-accordion>
            <ion-accordion>
              <ion-item slot="header" class="text-m dark">
                <div class="dark fw-600">Liver function</div>
                <div class="count medium m-left--x-small">4</div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-item class="text-m primary fw-500" button detail="false" lines="none"
                  (click)="openIngredientModal('Green Tea Extract')">
                  Green Tea Extract
                </ion-item>
                <ion-item class="text-m primary fw-500" button detail="false" lines="none"
                  (click)="openIngredientModal('Rhodiola Root Extract')">
                  Rhodiola Root Extract
                </ion-item>
              </div>
            </ion-accordion>
            <ion-accordion>
              <ion-item slot="header" class="text-m dark">
                <div class="dark fw-600">Hormone function</div>
                <div class="count medium m-left--x-small">2</div>
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-item class="text-m primary fw-500" button detail="false" lines="none"
                  (click)="openIngredientModal('Green Tea Extract')">
                  Green Tea Extract
                </ion-item>
                <ion-item class="text-m primary fw-500" button detail="false" lines="none"
                  (click)="openIngredientModal('Rhodiola Root Extract')">
                  Rhodiola Root Extract
                </ion-item>
              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ng-container>
      </div>

      <div class="section p-vertical--medium p-horizontal--medium m-bottom--large">
        <div class="title text-l fw-600 dark pb-5">Highlighted ingredients</div>
        <p class="medium fw-500 p-bottom--x-large" *ngIf="!addedHIngredientsOptions?.length">Add ingredients that you
          would like to highlight based on your diet,
          allergies, or
          other reasons that you have, if this
          ingredient is present in the product, it will appear in this list</p>

        <ng-container *ngIf="addedHIngredientsOptions?.length">
          <ion-list class="list list-ingredients m-bottom--x-small m-top--xx-small">
            <ion-item class="text-m dark" button detail="false" lines="none"
              *ngFor="let option of addedHIngredientsOptions"
              (click)="openIngredientModal(option?.label, option?.color)">
              <span class="indicator" [ngStyle]="{ 'background': option?.color}"></span>
              <div class="primary fw-500">{{option?.label}}</div>
            </ion-item>
          </ion-list>
        </ng-container>


        <ion-button class="btn btn-primary btn-sm" expand="block" fill="outline" mode="md"
          (click)="openHighlightedModal()">
          {{addedHIngredientsOptions && addedHIngredientsOptions?.length ? 'Edit' : 'Add Ingredients'}}
        </ion-button>
      </div>

      <div class="section p-vertical--medium p-horizontal--medium m-bottom--large">
        <div class="title text-l fw-600 dark pb-5">Product description</div>
        <p class="medium fw-500 mb-5">Athletic Greens is the delicious daily habit that sets you up for a healthy
          future. No
          other drink or supplement does as
          much for your body as Athletic Greens: - The antioxidant equivalent of 12 servings of vegetables and fruits in
          a single
          serving - 10 years of research and ongoing development - Formulated by nutritionists and doctors - Made in
          100% Pure New
          Zealand - Gluten and dairy free - Paleo,</p>

        <ion-button class="btn btn-link" fill="clear" mode="md" color="primary">
          Read All
        </ion-button>
      </div>

      <ion-item class="fw-600 text-l dark item-detail m-bottom--large" button detail="true" lines="none"
        (click)="goToReview()">
        Reviews
        <span class="medium m-left--x-small">32</span>
      </ion-item>
    </div>
  </ng-container>


</ion-content>