<ion-header mode="ios">
  <ion-toolbar [formGroup]="filterForm" class="sm">
    <div class="page-header">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
      <ion-title class="sm mb-10 pt-10">{{title}}</ion-title>
    </div>
    <ion-searchbar #searchbar mode="ios" placeholder="Search" show-clear-button="never"
      [searchIcon]="'./assets/img/icons/icon-search.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
      formControlName="search" (ionChange)="search($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner> -->
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <app-filter-row (onOpenSort)="openSortPopover()" (onOpenFilter)="openFiltersModal()"
    [resultCount]="count"></app-filter-row>

  <div class="content">

    <ion-list lines="full" *ngIf="listProducts.length && !loading">
      <ng-container *ngFor="let product of listProducts">
        <div class="p-around--medium card">
          <app-product-card [product]="product" [type]="'horizontal'"></app-product-card>
        </div>
      </ng-container>
    </ion-list>

    <ion-list lines="full" *ngIf="loading">
      <ng-container *ngFor="let product of [1,2,3,4]">
        <div class="p-around--medium card">
          <app-product-card [product]="product" [type]="'horizontal'" [favorite]="true"
            [isLoading]="loading"></app-product-card>
        </div>
      </ng-container>
    </ion-list>

  </div>
  <ng-container *ngIf="!listProducts.length && !loading">
    <app-search-empty class="flex-grow  "></app-search-empty>
  </ng-container>
</ion-content>