ion-content {
  .content {
    padding: 0 0 20px;
    width: 100%;
  }
}

ion-toolbar {
  ion-title {
    position: relative;
    -webkit-padding-start: 50px;
    padding-inline-start: 50px;
    -webkit-padding-end: 50px;
    padding-inline-end: 50px;
  }
}

ion-list {
  ion-item {
    --border-color: #e9e9e9;
    &:last-child {
      --border-width: 0px;
    }
  }
}

app-search-empty {
  height: calc(100% - 65px);
  display: block;
}
.card {
  border-bottom: 1px solid #e9e9e9;
}
