button.alert-button.alert-button-delete {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  color: #FF001C;
}

button.alert-button.alert-button-cancel {
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  color: #007AFF;
}

button.alert-button.sc-ion-alert-ios:last-child {
  font-weight: 400;
}
