.checkbox {
  --border-color: #d8d8d8;
  --size: 20px;
  --checkmark-color: #ffffff;
}

.checkbox-label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  color: #04002C;
}
