// @font-face {
//   font-family: "Archivo";
//   src: url("../assets/fonts/Archivo-Regular.woff") format("woff"),
//   url("../assets/fonts/Archivo-Regular.ttf") format("truetype");
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Archivo";
//   src: url("../assets/fonts/Archivo-Medium.woff") format("woff"),
//   url("../assets/fonts/Archivo-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Archivo";
//   src: url("../assets/fonts/Archivo-SemiBold.woff") format("woff"),
//   url("../assets/fonts/Archivo-SemiBold.ttf") format("truetype");
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }
// @font-face {
//   font-family: "Archivo";
//   src: url("../assets/fonts/Archivo-Bold.woff") format("woff"),
//   url("../assets/fonts/Archivo-Bold.ttf") format("truetype");
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-Regular.woff") format("woff"),
    url("../assets/fonts/PlusJakartaSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-Medium.woff") format("woff"),
    url("../assets/fonts/PlusJakartaSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-SemiBold.woff") format("woff"),
    url("../assets/fonts/PlusJakartaSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Plus Jakarta Sans";
  src: url("../assets/fonts/PlusJakartaSans-Bold.woff") format("woff"),
    url("../assets/fonts/PlusJakartaSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
