<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link btn-primary ml-10" fill="clear" mode="md" (click)="cancelModal()">
        Cancel
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Filter
      <!-- (257) -->
    </ion-title>
    <!-- / Header title -->

    <!-- Apply action -->
    <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10" fill="clear" mode="md" (click)="handleApplyChanges()">
        Apply
      </ion-button>
    </ion-buttons>
    <!-- / Apply action -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner>
  <!-- <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)" *ngIf="!loading">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher> -->

  <ion-accordion-group [multiple]="true" [formGroup]="form">
    <ion-accordion value="categories" *ngIf="categories?.length && page !== 'categories'">
      <ion-item slot="header" class="item-header" color="light">
        <ion-label>Categories</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">

        <app-filter-group [options]="categories" [type]="'categories'"
          (filteredOptions)="filtered($event, 'categories')" [addedOptions]="form.value.categories"></app-filter-group>

      </div>
    </ion-accordion>
    <!-- <ion-accordion value="rating">
      <ion-item slot="header" class="item-header" color="light">
        <ion-label>Product Rating</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-filter-group [options]="productRating" [type]="'quality'"
          (filteredOptions)="filtered($event,'quality')"></app-filter-group>

      </div>
    </ion-accordion> -->
    <ion-accordion value="brands" *ngIf="brands?.length && page !== 'brands'">
      <ion-item slot="header" class="item-header" color="light">
        <ion-label>Brands</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-filter-group [options]="brands" [type]="'brands'" (filteredOptions)="filtered($event,'brands')"
          [addedOptions]="form.value.brands"></app-filter-group>
      </div>
    </ion-accordion>

    <ion-accordion value="ingredients" *ngIf="ingredients?.length && page !== 'ingredients'">
      <ion-item slot="header" class="item-header" color="light">
        <ion-label>Ingredients</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <!-- <app-ingredient-filter-group></app-ingredient-filter-group> -->
        <app-filter-group [options]="ingredients" [type]="'ingredients'"
          (filteredOptions)="filtered($event,'ingredients')" [addedOptions]="form.value.ingredients"></app-filter-group>
      </div>
    </ion-accordion>

    <ion-accordion value="user-ratings">
      <ion-item slot="header" class="item-header" color="light">
        <ion-label>User Ratings</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-radio-group formControlName="rating_score">
          <ion-list>
            <ng-container *ngFor="let option of userRating;let i = index">

              <ion-item lines="none">
                <ion-label class="dark fw-500">
                  <ion-icon slot="start" class="m-right--x-small" [ngStyle]="{'width': '116px' }" [src]="option?.icon"
                    *ngIf="option?.icon"></ion-icon>
                  {{ option?.title}}
                  <span class="medium" *ngIf="option?.count">({{option?.count || 0}})</span>
                </ion-label>

                <ion-radio slot="end" mode="md" [value]="option?.id"></ion-radio>
              </ion-item>
            </ng-container>
          </ion-list>
        </ion-radio-group>
        <!-- <app-filter-group [options]="userRating" [type]="'rating_score'"
          (filteredOptions)="filtered($event,'rating_score')"></app-filter-group> -->
      </div>
    </ion-accordion>

    <ion-accordion value="offers">
      <ion-item slot="header" class="item-header" color="light">
        <ion-label>Special Offers</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <app-filter-group [options]="special" [type]="'special_offer'"
          (filteredOptions)="filtered($event,'special_offer')"></app-filter-group>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>