<div direction="column" class="search-system__wrapper">

  <div class="p-bottom--x-small p-horizontal--medium p-top--large search-system__tabs-wrapper">
    <ion-segment (ionChange)="changeSearchTab($event)" [value]="searchActiveTab" mode="ios">

      <ion-segment-button [value]="searchTabs.products">
        {{ searchTabs.products }}
      </ion-segment-button>

      <ion-segment-button [value]="searchTabs.ingredients">
        {{ searchTabs.ingredients }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="isLoading"></ion-spinner>

  <div [ngSwitch]="searchActiveTab" class="flex-grow search-system__content-wrapper" *ngIf="!isLoading">
    <!-- Products tab content -->
    <ng-container *ngSwitchCase="searchTabs.products">

      <ng-container *ngIf="!searchValue">
        <app-products-history [productsHistory]="productsHistoryItems" [searchValue]="searchValue"
          [categories]="categories" (onCleanHistory)="handleCleanProductsHistory()"
          *ngIf="productsHistoryItems?.length"></app-products-history>

        <app-search-empty-state class="flex-grow" *ngIf="!productsHistoryItems?.length"></app-search-empty-state>
      </ng-container>

      <ng-container *ngIf="searchValue">
        <ng-container *ngIf="productsItems?.length">
          <app-products-history [productsHistory]="productsItems"></app-products-history>
        </ng-container>

        <!-- Empty state -->
        <ng-container *ngIf="!productsItems?.length">
          <app-search-empty class="flex-grow"></app-search-empty>
        </ng-container>
      </ng-container>




      <!-- / Empty search value -->
    </ng-container>
    <!-- / Products tab content -->

    <!-- Ingredients tab content -->
    <ng-container *ngSwitchCase="searchTabs.ingredients">
      <ng-container *ngIf="!searchValue">
        <app-ingredients-history [ingredientsHistory]="ingredientsHistoryItems"
          (onCleanHistory)="handleCleanProductsHistory()"
          *ngIf="ingredientsHistoryItems?.length"></app-ingredients-history>

        <app-search-empty-state class="flex-grow" *ngIf="!ingredientsHistoryItems?.length"></app-search-empty-state>
      </ng-container>

      <ng-container *ngIf="searchValue">
        <ng-container *ngIf="ingredientsItems?.length">
          <app-ingredients-history [ingredientsHistory]="ingredientsItems"
            (onCleanHistory)="handleCleanIngredientsHistory()"></app-ingredients-history>
        </ng-container>
        <!-- / Ingredients history -->

        <!-- Empty state -->
        <ng-container *ngIf="!ingredientsItems?.length">
          <app-search-empty class="flex-grow"></app-search-empty>
        </ng-container>
        <!-- / Empty state -->
      </ng-container>
    </ng-container>
    <!-- / Empty search value -->

  </div>

</div>