<ion-header mode="ios">
  <ion-toolbar>
    <ion-img class="logo" src="./assets/img/logo-full.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [ngClass]="{'step-4': step === 4}">
    <div class="content">
      <form class="form" [formGroup]="recoverForm">
        <ng-container *ngIf="step === 1">
          <h1 class="h1 pb-10 ion-text-center">Forgot your password?</h1>

          <p class="ion-text-center medium text-m pb-20">Enter the email address you used when you joined and we’ll send
            you a recovery code to reset your password</p>

          <div class="form-control">
            <ion-item class="form-item" mode="ios" lines="none">
              <ion-label position="stacked">Email address</ion-label>
              <ion-input formControlName="email" type="email" inputmode="email" placeholder="Enter your email address"
                autocomplete="off"></ion-input>
              <ion-note slot="error" *ngIf="recoverForm?.hasError('email')">
                There is no account with that email.
              </ion-note>
            </ion-item>
            <div class="form-error text-center mt-10" *ngIf="recoverForm?.hasError('email')"
              [innerHTML]="recoverForm?.errors?.['email'][0]"></div>
          </div>
          <ion-button class="btn btn-primary mb-10" expand="block" fill="solid" mode="md" (click)="sendEmail()"
            [disabled]="recoverForm.get('email')?.invalid">
            Send reset code
          </ion-button>

          <p class="ion-text-center">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="navCtrl.back()">
              Back to Log in
            </ion-button>
          </p>

        </ng-container>

        <ng-container *ngIf="step === 2">
          <h1 class="h1 pb-10 ion-text-center">Recovery code</h1>

          <p class="ion-text-center medium text-m pb-20">Enter the recovery code to the email you provided
            <span class="set-phone dark fw-600">{{ recoverForm.value.email }}</span>
          </p>


          <div class="pin-code pb-20">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
          </div>
          <div class="form-error" *ngIf="recoverForm?.hasError('wrongCode')">
            {{ recoverForm!.errors?.['wrongCode'] }}
          </div>
          <ion-button class="btn btn-primary mb-10" expand="block" fill="solid" mode="md" (click)="checkCode()"
            [disabled]="recoverForm.get('code')?.invalid || !codeValid">
            Apply
          </ion-button>

          <p class="ion-text-center mb-16">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="sendEmail()">
              Send one more time
            </ion-button>
          </p>
          <p class="ion-text-center">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="navCtrl.back()">
              Back to Log in
            </ion-button>
          </p>
        </ng-container>

        <ng-container *ngIf="step === 3">
          <h1 class="h1 pb-20 ion-text-center">Reset Password</h1>

          <div class="form-control relative-block">
            <ion-item class="form-item" mode="ios" lines="none">
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" [type]="showPassword   ? 'text' : 'password'" inputmode="text"
                placeholder="Enter your password" autocomplete="off"></ion-input>
              <ion-note slot="error" *ngIf="!recoverForm.get('password')?.value && recoverForm.get('password')!.invalid && recoverForm.get('password')!.touched && 
                      !recoverForm?.hasError('password')">
                Field is required
              </ion-note>
              <ion-note slot="error" *ngIf="recoverForm.get('password')?.value && recoverForm.get('password')!.invalid && 
            recoverForm.get('password')!.touched && !recoverForm?.hasError('password')">The
                password
                must contain at least 8 characters, at least: 1 number, 1 special
                character, 1 uppercase letter, 1 lowercase letter.</ion-note>
              <ion-note slot="error"
                *ngIf="recoverForm?.hasError('password')">{{recoverForm!.errors?.['password'][0]}}</ion-note>
            </ion-item>
            <ion-icon
              [src]="showPassword   ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
              [color]="showPassword   ? 'primary' : 'medium'" slot="end" (click)="toggleShowPassword( )"></ion-icon>
          </div>
          <div class="form-control relative-block">
            <ion-item class="form-item" mode="ios" lines="none">
              <ion-label position="stacked">Repeat password</ion-label>
              <ion-input formControlName="confirm_password" [type]="showRepeatPassword   ? 'text' : 'password'"
                inputmode="text" placeholder="Enter your password again" autocomplete="off"></ion-input>
              <ion-note slot="error" *ngIf="!recoverForm.get('confirm_password')?.value && recoverForm.get('confirm_password')!.invalid && 
                      recoverForm.get('confirm_password')!.touched && !recoverForm?.hasError('confirm_password')">
                Field is required
              </ion-note>
              <ion-note slot="error" *ngIf="recoverForm.get('confirm_password')?.value && recoverForm.get('confirm_password')!.invalid && recoverForm.get('confirm_password')!.dirty && 
                !recoverForm?.hasError('confirm_password')">Passwords
                does not
                match</ion-note>
              <ion-note slot="error"
                *ngIf="recoverForm?.hasError('confirm_password')">{{recoverForm!.errors?.['confirm_password'][0]}}</ion-note>
            </ion-item>
            <ion-icon
              [src]="showRepeatPassword  ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
              [color]="showRepeatPassword ? 'primary' : 'medium'" slot="end"
              (click)="toggleShowRepeatPassword()"></ion-icon>
          </div>

          <div class="form-error" *ngIf="recoverForm?.hasError('wrongPass')">
            {{ recoverForm!.errors?.['wrongPass'] }}
          </div>
          <ion-button class="btn btn-primary mb-10" expand="block" fill="solid" mode="md" (click)="saveNewPassword()"
            [disabled]="recoverForm.get('password')?.invalid || recoverForm.get('confirm_password')?.invalid">
            Reset password
          </ion-button>

          <p class="ion-text-center">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="navCtrl.back()">
              Back to Log in
            </ion-button>
          </p>
        </ng-container>

        <ng-container *ngIf="step === 4">

          <div class="content-text">


            <app-img [src]="'./assets/img/icons/icon-done-2.svg'" cssClasses="img-fit-contain"></app-img>

            <h1 class="h1 pb-10 ion-text-center">Your password has been successfully changed</h1>
            <p class="ion-text-center medium text-m pb-20">You can now log in to your profile with your new password</p>

            <ion-button class="btn btn-primary" expand="block" fill="solid" mode="md"
              (click)="navCtrl.navigateForward('auth/login')">
              Back to Log in
            </ion-button>
          </div>
        </ng-container>
      </form>
    </div>
  </ion-grid>
</ion-content>