<ion-header mode="ios">
  <ion-toolbar>
    <ion-img class="logo" src="./assets/img/logo-full.svg"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <div class="content">
      <form class="form" [formGroup]="recoverForm">
        <ng-container *ngIf="step === 1">
          <h1 class="h1 pb-10 ion-text-center">Forgot your password?</h1>

          <p class="ion-text-center medium text-m pb-20">Enter the email address you used when you joined and we’ll send
            you a recovery code to reset your password</p>

          <div class="form-control">
            <ion-item class="form-item" mode="ios" lines="none">
              <ion-label position="stacked">Email address</ion-label>
              <ion-input formControlName="email" type="email" inputmode="email" placeholder="Enter your email address"
                autocomplete="off"></ion-input>
            </ion-item>
          </div>
          <ion-button class="btn btn-primary mb-10" expand="block" fill="solid" mode="md" (click)="sendEmail()"
            [disabled]="recoverForm.get('email')?.invalid">
            Send reset code
          </ion-button>

          <p class="ion-text-center">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="navCtrl.back()">
              Back to Log in
            </ion-button>
          </p>

        </ng-container>

        <ng-container *ngIf="step === 2">
          <h1 class="h1 pb-10 ion-text-center">Recovery code</h1>

          <p class="ion-text-center medium text-m pb-20">Enter the recovery code to the email you provided
            <span class="set-phone dark fw-600">{{ recoverForm.value.email }}</span>
          </p>


          <div class="pin-code pb-20">
            <ng-otp-input #ngOtpInput (onInputChange)="onOtpChange($event)" [config]="otpConfig"></ng-otp-input>
          </div>
          <!-- <div class="form-error text-center" *ngIf="recoverForm.get('code')?.hasError('incorrect')"
          [innerHTML]="recoverForm.get('code')?.errors?.['incorrect']"></div> -->

          <ion-button class="btn btn-primary mb-10" expand="block" fill="solid" mode="md" (click)="checkCode()"
            [disabled]="recoverForm.get('code')?.invalid || !codeValid">
            Apply
          </ion-button>

          <p class="ion-text-center mb-16">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary">
              Send one more time
            </ion-button>
          </p>
          <p class="ion-text-center">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="navCtrl.back()">
              Back to Log in
            </ion-button>
          </p>
        </ng-container>

        <ng-container *ngIf="step === 3">
          <h1 class="h1 pb-20 ion-text-center">Recovery code</h1>

          <div class="form-control relative-block">
            <ion-item class="form-item" mode="ios" lines="none">
              <ion-label position="stacked">Password</ion-label>
              <ion-input formControlName="password" [type]="showPassword ? 'text' : 'password'" inputmode="text"
                placeholder="Enter your password" autocomplete="off"></ion-input>
            </ion-item>
            <ion-icon
              [src]="showPassword ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
              [color]="showPassword ? 'primary' : 'medium'" slot="end"
              (click)="toggleShowPassword('password')"></ion-icon>
          </div>
          <div class="form-control relative-block">
            <ion-item class="form-item" mode="ios" lines="none">
              <ion-label position="stacked">Repeat password</ion-label>
              <ion-input formControlName="confirm_password" [type]="showPassword ? 'text' : 'password'" inputmode="text"
                placeholder="Enter your password again" autocomplete="off"></ion-input>
            </ion-item>
            <ion-icon
              [src]="showPassword ? './assets/img/icons/icon-eye-open.svg' : './assets/img/icons/icon-eye-hide.svg'"
              [color]="showPassword ? 'primary' : 'medium'" slot="end"
              (click)="toggleShowPassword('confirm_password')"></ion-icon>
          </div>
          <ion-button class="btn btn-primary mb-10" expand="block" fill="solid" mode="md" (click)="saveNewPassword()"
            [disabled]="recoverForm.get('password')?.invalid || recoverForm.get('confirm_password')?.invalid">
            Reset password
          </ion-button>

          <p class="ion-text-center">
            <ion-button class="btn btn-link" fill="clear" mode="md" color="primary" (click)="navCtrl.back()">
              Back to Log in
            </ion-button>
          </p>
        </ng-container>
        <ng-container *ngIf="step === 4">
          <app-img [src]="'./assets/img/icons/icon-done-2.svg'" cssClasses="img-fit-contain"></app-img>

          <h1 class="h1 pb-10 ion-text-center">Your password has been successfully changed</h1>
          <p class="ion-text-center medium text-m pb-20">You can now log in to your profile with your new password</p>

          <ion-button class="btn btn-primary" expand="block" fill="solid" mode="md"
            (click)="navCtrl.navigateForward('auth/login')">
            Back to Log in
          </ion-button>
        </ng-container>
      </form>
    </div>
  </ion-grid>
</ion-content>