ion-header {
  text-align: center;
  ion-toolbar {
    --padding-top: 14px;
    --padding-bottom: 14px;
  }
  .logo {
    max-width: 140px;
    margin: auto;
  }
}

ion-grid {
  padding: 70px 15px 30px;
  min-height: 100%;
  display: flex;
  // flex-direction: column;
  justify-content: flex-start;
  // align-items: flex-start;
  .content {
    width: 100%;
    min-height: 100%;
  }
  &.step-4 {
    padding: 30px 15px;
    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  app-img {
    margin: 0 auto 45px;
    width: 180px;
    height: 180px;
    display: block;
  }
}
.pin-code {
  display: flex;
  align-items: center;
  justify-content: center;
}
