<ion-header>
  <ion-toolbar>
    <!-- Header actions -->
    <div vertical="center" horizontal="between" class="m-top--x-small">
      <!-- Back action -->
      <ion-button class="btn btn-sm-x" fill="clear" mode="md" (click)="navCtrl.navigateRoot('home/tabs/tab/favorites')">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
      <!-- / Back action -->

      <!-- Edit action -->
      <ion-button class="btn btn-link btn-primary" mode="md" (click)="showListActionsModal()">
        Edit list
      </ion-button>
      <!-- / Edit action -->
    </div>
    <!-- / Header actions -->

    <!-- Header title -->
    <div class="favorite-list-details__header-title m-bottom--small m-top--x-small">
      My favorite supplements
    </div>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="!!listProducts.length">
    <!-- No products -->
    <ng-container *ngSwitchCase="false">
      <div direction="column" vertical="center" horizontal="center" class="favorite-list-details__empty-list">
        <!-- Icon -->
        <ion-icon
          class="favorite-list-details__empty-list-icon m-bottom--large"
          [src]="'./assets/img/icons/empty-favorite-list-items-icon.svg'"
        ></ion-icon>
        <!-- / Icon -->

        <!-- Title -->
        <div class="favorite-list-details__empty-list-title m-bottom--x-small">
          The list is empty
        </div>
        <!-- / Title -->

        <!-- Description -->
        <div class="favorite-list-details__empty-list-description m-bottom--large">
          Add your favorite products right now
        </div>
        <!-- / Description -->

        <!-- Catalog action -->
        <ion-button
          class="btn btn-sm btn-primary favorite-list-details__empty-list-action"
          expand="block"
          fill="solid"
          mode="md"
        >
          <b>Catalog</b>
        </ion-button>
        <!-- / Catalog action -->

        <!-- Scan action -->
        <ion-button
          class="btn btn-sm favorite-list-details__empty-list-action m-top--x-small"
          expand="block"
          fill="outline"
          mode="md"
          color="primary"
        >
          <b>Scan</b>
        </ion-button>
        <!-- / Scan action -->
      </div>
    </ng-container>
    <!-- / No products -->

    <!-- Products -->
    <ng-container *ngSwitchCase="true">
      <ion-list lines="full">
        <ion-item *ngFor="let product of listProducts">
          <div class="p-vertical--medium">
            <app-product-card [product]="product" [type]="'horizontal'"></app-product-card>
          </div>
        </ion-item>
      </ion-list>
    </ng-container>
    <!-- / Products -->
  </ng-container>
</ion-content>
