ion-grid {
  padding: 25px 0 30px;
}

ion-toolbar {
  ion-icon {
    width: 36px;
    height: 36px;
    min-width: 36px;
    margin-right: 12px;
    margin-top: 18px;
  }
}

.section {
  overflow: hidden;
  padding: 0 16px;
  &:not(:last-child) {
    margin-bottom: 32px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 14px;

    ion-icon {
      height: 24px;
      width: 24px;
      min-width: 24px;
    }
  }
}

.shop-links {
  display: flex;
  justify-content: space-between;
  ion-item {
    width: calc(50% - 6px);
    --padding-start: 25px;
    --padding-end: 25px;
    border-radius: 10px;
    --border-radius: 10px;
    --padding-top: 20px;
    --padding-bottom: 16px;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    --background: var(--ion-color-secondary);
    .item {
      text-align: center;
      width: 100%;
    }
  }

  app-img {
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 15px;
    display: block;
  }

  ion-label {
    color: #ff7a00;
    font-size: 14px;
    font-weight: 700;
  }
}
