<ion-header mode="ios">

  <ion-toolbar [formGroup]="filterForm">
    <ion-icon slot="start" [src]="'./assets/img/logo.svg'" *ngIf="!isSearchActive"></ion-icon>
    <div vertical="center">
      <ion-searchbar #searchbar mode="ios" placeholder="Search for a product or ingredient..." show-clear-button="never"
        [searchIcon]="'./assets/img/icons/icon-search.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
        formControlName="search" (ionFocus)="onSearchFocus($event)" (ionChange)="search($event)" enterkeyhint="Done">
      </ion-searchbar>
      <!-- Cancel search state -->
      <div *ngIf="isSearchActive" vertical="center" class="m-left--small flex-shrink--none">
        <ion-button class="btn btn-link btn-primary" fill="clear" mode="md" (click)="handleCancelSearch()">
          Cancel
        </ion-button>
      </div>
    </div>
    <!-- / Cancel search state -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner> -->
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <ion-grid *ngIf="!isSearchActive">

    <ng-container *ngIf="!products?.length">
      <div class="data-placeholder type-2">
        <img src="./assets/img/placeholder.svg" alt="">
      </div>
    </ng-container>

    <div class="section">
      <div class="section-header">
        <h3 class="h3">Trending now</h3>

        <ion-button class="btn btn-link ml-10" fill="clear" mode="md" [routerLink]="['/home/tabs/tab/main/trending']">
          <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
        </ion-button>
      </div>

      <div class="swiper-body">
        <swiper #swiper [config]="slideOpts" class="main-swiper">
          <ng-container *ngIf="!isLoadingTrending && products?.trending?.length">
            <ng-template swiperSlide *ngFor="let product of products?.trending; let i=index">
              <app-product-card [product]="product"></app-product-card>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isLoadingTrending">
            <ng-template swiperSlide *ngFor="let product of [1,2,3]; let i=index">
              <app-product-card [product]="product" [isLoading]="isLoadingTrending"></app-product-card>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
    </div>

    <div class="section">
      <div class="section-header">
        <h3 class="h3">Recent products</h3>
      </div>

      <div class="swiper-body">
        <swiper #swiper [config]="slideOpts" class="main-swiper">
          <ng-container *ngIf="!isLoadingRecent && products!.recent?.length">
            <ng-template swiperSlide *ngFor="let product of products!.recent; let i=index">
              <app-product-card [product]="product?.product"></app-product-card>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isLoadingRecent">
            <ng-template swiperSlide *ngFor="let product of [1,2,3]; let i=index">
              <app-product-card [product]="product" [isLoading]="isLoadingRecent"></app-product-card>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
    </div>
    <div class="section">
      <div class="section-header">
        <h3 class="h3">Shop by</h3>
      </div>

      <div class="shop-links">
        <ion-item button detail="false" lines="none">
          <div class="item" [routerLink]="['/home/tabs/tab/main/all-brands']">
            <app-img [src]="'./assets/img/icons/main-all-brands.svg'" cssClasses="img-fit-contain"></app-img>
            <ion-label>
              All Brands
            </ion-label>
          </div>
        </ion-item>
        <ion-item button detail="false" lines="none" [routerLink]="['/home/tabs/tab/main/ingredients']">
          <div class="item">
            <app-img [src]="'./assets/img/icons/icon-main-ingredients.svg'" cssClasses="img-fit-contain"></app-img>

            <ion-label>
              Ingredients
            </ion-label>
          </div>
        </ion-item>
      </div>
    </div>

    <div class="section">
      <div class="section-header">
        <h3 class="h3">For you</h3>

        <ion-button class="btn btn-link ml-10" fill="clear" mode="md" [routerLink]="['/home/tabs/tab/main/for-you']">
          <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
        </ion-button>
      </div>

      <div class="swiper-body">
        <swiper #swiper [config]="slideOpts" class="main-swiper">
          <ng-container *ngIf="!isLoadingForYou && products!.forYou?.length">
            <ng-template swiperSlide *ngFor="let product of products!.forYou; let i=index">
              <app-product-card [product]="product"></app-product-card>
            </ng-template>
          </ng-container>
          <ng-container *ngIf="isLoadingForYou">
            <ng-template swiperSlide *ngFor="let product of [1,2,3]; let i=index">
              <app-product-card [product]="product" [isLoading]="isLoadingForYou"></app-product-card>
            </ng-template>
          </ng-container>
        </swiper>
      </div>
    </div>

    <!-- <div class="section">
      <div class="section-header">
        <h3 class="h3">Sales and offers</h3>

        <ion-button class="btn btn-link ml-10" fill="clear" mode="md" [routerLink]="['/home/tabs/tab/main/trending']">
          <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
        </ion-button>
      </div>

      <div class="swiper-body" *ngIf="products?.length">
        <swiper #swiper [config]="slideOpts" class="main-swiper">
          <ng-template swiperSlide *ngFor="let product of products; let i=index">
            <app-product-card [product]="product"></app-product-card>
          </ng-template>
        </swiper>
      </div>
    </div> -->


  </ion-grid>

  <!-- Search system -->
  <app-search-system *ngIf="isSearchActive" [searchValue]="filterForm.get('search')?.value"></app-search-system>
  <!-- / Search system -->
  <!-- <ng-container *ngIf="!loading">
    <ion-infinite-scroll threshold="0" (ionInfinite)="loadData()" position="bottom" [disabled]="disableInfinity">
      <ion-infinite-scroll-content loadingSpinner="bubbles">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container> -->
</ion-content>