.content-profile {
  padding: 20px 16px 0;

  ion-item {
    --min-height: 24px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
    --inner-padding-end: 12px;
    --background: #f8f8f8;
    --border-width: 1px;
    --border-color: #f2f2f2;
    border-radius: 10px;
    --border-radius: 10px;
    margin-top: 12px;

    ion-icon {
      margin: 0;
      margin-right: 12px;
    }
  }

  app-img {
    width: 40px;
    height: 40px;
    margin: 0;
    margin-right: 12px;
  }
  .dark {
    color: var(--ion-color-dark);
    --color: var(--ion-color-dark);
  }
}

.profile-item {
  margin-top: 0 !important;
  p {
    margin: 0;
  }

  ion-label {
    margin: 0;
  }
}

.content-list {
  padding-top: 5px;
  padding-bottom: 20px;

  ion-item {
    --min-height: 48px;
    --padding-start: 16px;
    --inner-padding-end: 16px;
  }
}

.more-main__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}
