<ion-header>
  <ion-toolbar>
    <!-- Header title -->
    <ion-title class="sm">More</ion-title>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-profile">
    <!-- Profile details -->
    <ion-item class="fw-600 text-m dark profile-item" button detail="false" lines="none" *ngIf="profile"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/profile-details')">
      <app-img [src]="profile?.image" cssClasses="img-fit-cover rounded" *ngIf="profile?.image"></app-img>
      <div class="avatar" *ngIf="!profile?.image" [innerHTML]="profile | setAvatarName"></div>
      <ion-label>
        <p class="text-m dark fw-700">{{profile?.first_name}} {{profile?.last_name}}</p>
        <p class="text-m medium fw-500">{{profile?.email}}</p>
      </ion-label>
    </ion-item>

    <ion-skeleton-text *ngIf="!profile" [animated]="true" style="height: 48px; border-radius:10px;"></ion-skeleton-text>
    <!-- / Profile details -->

    <!-- History -->
    <ion-item class="fw-600 text-m dark" button detail="false" lines="none"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/history')">
      <ion-icon size="large" [src]="'./assets/img/icons/icon-history.svg'" slot="start"></ion-icon>
      History
    </ion-item>
    <!-- / History -->

    <!-- Highlighted ingredients -->
    <ion-item class="fw-600 text-m dark" button detail="false" lines="none"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/highlighted-ingredients')">
      <ion-icon size="large" [src]="'./assets/img/icons/icon-check-list.svg'" slot="start"></ion-icon>
      Highlighted ingredients
    </ion-item>
    <!-- / Highlighted ingredients -->

    <!-- Submitted products -->
    <ion-item class="fw-600 text-m dark" button detail="false" lines="none"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/submitted-products')">
      <ion-icon size="large" [src]="'./assets/img/icons/icon-box.svg'" slot="start"></ion-icon>
      Submitted products
    </ion-item>
    <!-- / Submitted products -->

    <!-- Password -->
    <ion-item class="fw-600 text-m dark" button detail="false" lines="none"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/change-password')">
      <ion-icon size="large" [src]="'./assets/img/icons/icon-lock.svg'" slot="start"></ion-icon>
      Password
    </ion-item>
    <!-- / Password -->

    <!-- Notifications -->
    <ion-item class="fw-600 text-m dark" button detail="false" lines="none"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/notifications')">
      <ion-icon size="large" [src]="'./assets/img/icons/icon-notifications.svg'" slot="start"></ion-icon>
      Notifications
    </ion-item>
    <!-- / Notifications -->
  </div>

  <ion-list class="content-list">
    <!-- Rate our app -->
    <ion-item class="fw-500 text-m dark" button detail="false" lines="none">
      Rate our app
    </ion-item>
    <!-- / Rate our app -->

    <!-- Report problem -->
    <ion-item class="fw-500 text-m dark" button detail="false" lines="none"
      (click)="navCtrl.navigateRoot('home/tabs/tab/more/report-problem')">
      Report problem
    </ion-item>
    <!-- / Report problem -->

    <!-- Privacy Policy -->
    <ion-item class="fw-500 text-m dark" button detail="false" lines="none">
      Privacy Policy
    </ion-item>
    <!-- / Privacy Policy -->

    <!-- Terms of Service -->
    <ion-item class="fw-500 text-m dark" button detail="false" lines="none">
      Terms of Service
    </ion-item>
    <ion-item class="fw-500 text-m dark" button detail="false" lines="none" (click)="logoutAlert()">
      Log out
    </ion-item>
    <!-- / Log out -->

    <!-- Delete account -->
    <ion-item class="fw-500 text-m danger" button detail="false" lines="none" (click)="handleDeleteAccount()">
      Delete account
    </ion-item>
    <!-- / Delete account -->
  </ion-list>
</ion-content>