<div class="content ion-text-center">
  <ion-button class="btn btn-close" fill="clear" mode="md" (click)="cancelModal()">
    <ion-icon slot="icon-only" src="./assets/img/icon/close-icon.svg"></ion-icon>
  </ion-button>
  <h2 class="h2 mb-10">Sorry</h2>
  <p class="dark text-m">This functionality will be available after you create an account or log in</p>
  <ion-button class="btn btn-primary" expand="block" fill="solid" mode="md" (click)="goToOnboarding()">
    Back to onboarding
  </ion-button>
</div>