<ion-content>
  <ion-grid>

    <div class="content">
      <div class="ingredient-header m-bottom--medium">
        <div *ngIf="item?.is_benefit && getPriorityValue(item) === 'is_benefit'" class="badge"
          [ngStyle]="{ 'background': '#22B51F' }"></div>
        <div *ngIf="item?.is_weaknesses && getPriorityValue(item) === 'is_weaknesses'" class="badge"
          [ngStyle]="{ 'background': '#FF001C' }"></div>
        <div *ngIf="item?.is_contamintant && getPriorityValue(item) === 'is_contamintant'" class="badge"
          [ngStyle]="{ 'background': '#FF9635' }"></div>
        <div *ngIf="item?.is_allergen && getPriorityValue(item) === 'is_allergen'" class="badge"
          [ngStyle]="{ 'background': '#FDE334' }"></div>
        <!-- <div class="badge" [ngStyle]="{ 'background': indregientDetail?.color || color}"></div> -->
        <span class="h4 dark fw-600">{{item?.title}}</span>
      </div>

      <!-- <ion-list class="ingerdients">
        <ng-container *ngFor="let item of indregientDetail?.ingredients">
          <ion-item class="text-m primary" button detail="false" lines="none"
            (click)="navCtrl.navigateRoot('home/tabs/tab/more/history')">
            {{item}}
          </ion-item>
        </ng-container>
      </ion-list> -->
      <div class="description">


        <ng-container *ngIf="item?.usage">
          <div class="text-m m-bottom--xx-small dark fw-700">Usage</div>
          <p>{{item?.usage}}</p>
        </ng-container>

        <ng-container *ngIf="item?.health_impact">
          <div class="text-m m-bottom--xx-small dark fw-700">Health impact</div>
          <p>{{item?.health_impact}}</p>
        </ng-container>

        <ng-container *ngIf="item?.sources">

          <div class="text-m m-bottom--xx-small dark fw-700">Sources</div>
          <ion-list class="external-links">

            <ion-item class="text-m primary" button detail="false" lines="none">
              <p>
                A toxicological review of the propylene glycol
              </p>
              <ion-icon slot="end" [src]="'./assets/img/icons/icon-extrnal-link.svg'"></ion-icon>
            </ion-item>
          </ion-list>
        </ng-container>
      </div>

    </div>

  </ion-grid>
</ion-content>