:host {
  background: var(--ion-color-secondary);
}
.step-image {
  height: 100%;
  overflow: hidden;

  &.step-1 {
    padding: 6vh 10%;
  }
  &.step-2,
  &.step-3,
  &.step-5 {
    padding: 25px 16px;
  }

  .image {
    padding-top: 100%;
    position: relative;
    svg {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.steps-header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 0;
  span {
    height: 8px;
    display: block;
    background-color: #fff;
    width: 20%;
    border-radius: 50px;
    &.active {
      background-color: var(--ion-color-primary);
    }
  }
}

ion-footer {
  --background: var(--ion-color-light-tint-next);
  background: var(--ion-color-light-tint-next);
  border-radius: 20px 20px 0px 0px;
  padding: 0 16px;

  .btn {
    margin-bottom: 10px;
  }
}
.steps-content {
  min-height: 155px;
  padding: 28px 0 10px;
  text-align: center;
  h2 {
    margin-bottom: 12px;
  }

  + .btn {
    margin-bottom: 20px;
  }
}
