<ion-header mode="ios">
  <ion-toolbar [formGroup]="filterForm" class="sm">
    <ion-title *ngIf="!isSearchActive" class="sm mb-10 pt-10">Catalog</ion-title>
    <div vertical="center">
      <ion-searchbar #searchbar mode="ios" placeholder="Search" show-clear-button="never"
        [searchIcon]="'./assets/img/icons/icon-search.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
        formControlName="search" (ionChange)="search($event)" (ionFocus)="onSearchFocus($event)"></ion-searchbar>

      <!-- Cancel search state -->
      <div *ngIf="isSearchActive" vertical="center" class="m-left--small flex-shrink--none">
        <ion-button class="btn btn-link btn-primary" fill="clear" mode="md" (click)="handleCancelSearch()">
          Cancel
        </ion-button>
      </div>
      <!-- / Cancel search state -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container [ngSwitch]="isSearchActive">
    <!-- Catalog list -->
    <ion-grid *ngSwitchCase="false">
      <div class="content">
        <h3 class="h3 mb-16 fw-700 dark">Supplements</h3>

        <div class="list">



          <ng-container *ngFor="let item of categories">


            <!-- [routerLink]="['/home/tabs/tab/catalog/',item?.id]" -->
            <ion-item button lines="none" mode="ios" (click)="handleOpenDetails(item?.id, item?.title)">
              <ion-icon slot="start" [src]="item?.icon"></ion-icon>
              <ion-label class="fw-600 dark">{{item?.title}}</ion-label>
            </ion-item>
          </ng-container>
          <!-- <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/vitamines.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Vitamins</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/minerales.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Minerals</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/sleep.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Sleep</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/vitamines.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Bone, Joint & Cartilage</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/minerales.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Antioxidants</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/sleep.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Children’s Health</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios">
            <ion-icon slot="start" [src]="'./assets/img/catalog/vitamines.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Fish Oil & Omegas</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios">
            <ion-icon slot="start" [src]="'./assets/img/catalog/minerales.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Protein</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" (click)="navCtrl.navigateForward(['detail/', 1])">
            <ion-icon slot="start" [src]="'./assets/img/catalog/sleep.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Hair, Skin & Nails</ion-label>
          </ion-item> -->
        </div>
      </div>
    </ion-grid>
    <!-- / Catalog list -->

    <!-- Search system -->
    <app-search-system *ngSwitchCase="true" [searchValue]="filterForm.get('search')?.value"></app-search-system>
    <!-- / Search system -->
  </ng-container>
</ion-content>