<ion-header mode="ios">
  <ion-toolbar [formGroup]="filterForm" class="sm">
    <ion-title *ngIf="!isSearchActive" class="sm mb-10 pt-10">Catalog</ion-title>
    <div vertical="center">
      <ion-searchbar #searchbar mode="ios" placeholder="Search" show-clear-button="never"
        [searchIcon]="'./assets/img/icons/icon-search.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
        formControlName="search" (ionFocus)="onSearchFocus($event)" (ionChange)="search($event)"></ion-searchbar>

      <!-- Cancel search state -->
      <div *ngIf="isSearchActive" vertical="center" class="m-left--small flex-shrink--none">
        <ion-button class="btn btn-link btn-primary" fill="clear" mode="md" (click)="handleCancelSearch()">
          Cancel
        </ion-button>
      </div>
      <!-- / Cancel search state -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-spinner class="spinner" color="primary" name="lines" *ngIf="isLoading"></ion-spinner> -->
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>
  <!-- <ng-container [ngSwitch]="isSearchActive"> -->
  <!-- Catalog list -->
  <!-- <ion-grid *ngSwitchCase="false"> -->
  <div class="content">
    <h3 class="h3 mb-16 fw-700 dark" *ngIf="categories.length">Supplements</h3>

    <div class="list" *ngIf="!isLoading">
      <ng-container *ngFor="let item of categories">
        <!-- [routerLink]="['/home/tabs/tab/catalog/',item?.id]" -->
        <ion-item button lines="none" mode="ios" (click)="handleOpenDetails(item?.id, item?.title)">
          <app-img slot="start" *ngIf="item?.icon" [src]="item?.icon"></app-img>
          <ion-icon *ngIf="!item?.icon"></ion-icon>
          <ion-label class="fw-600 dark">{{item?.title}}</ion-label>
        </ion-item>
      </ng-container>
      <!-- <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/vitamines.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Vitamins</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/minerales.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Minerals</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/sleep.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Sleep</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/vitamines.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Bone, Joint & Cartilage</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/minerales.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Antioxidants</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" [routerLink]="['/home/tabs/tab/catalog/1']">
            <ion-icon slot="start" [src]="'./assets/img/catalog/sleep.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Children’s Health</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios">
            <ion-icon slot="start" [src]="'./assets/img/catalog/vitamines.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Fish Oil & Omegas</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios">
            <ion-icon slot="start" [src]="'./assets/img/catalog/minerales.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Protein</ion-label>
          </ion-item>
          <ion-item button lines="none" mode="ios" (click)="navCtrl.navigateForward(['detail/', 1])">
            <ion-icon slot="start" [src]="'./assets/img/catalog/sleep.svg'"></ion-icon>
            <ion-label class="fw-600 dark">Hair, Skin & Nails</ion-label>
          </ion-item> -->
    </div>

    <div class="list" *ngIf="isLoading">
      <ng-container *ngFor="let item of [1,2,3,4,5,6,7]">
        <ion-item button lines="none" mode="ios">
          <ion-skeleton-text [animated]="true" style="width: 24px;height: 24px;border-radius: 50%;"></ion-skeleton-text>

          <ion-label class="fw-600 dark">
            <ion-skeleton-text [animated]="true" style="width: 88%;"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ng-container>
    </div>
    <ng-container *ngIf="!categories.length && !isLoading">
      <app-search-empty class="flex-grow"></app-search-empty>
    </ng-container>
  </div>
  <!-- </ion-grid> -->
  <!-- / Catalog list -->

  <!-- Search system -->
  <!-- <app-search-system *ngSwitchCase="true" [searchValue]="filterForm.get('search')?.value"></app-search-system> -->
  <!-- / Search system -->
  <!-- </ng-container> -->
</ion-content>