// ion-grid {
// min-height: 100%;
.content {
  padding: 24px 15px;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
// }

ion-toolbar {
  ion-title {
    position: relative;
    -webkit-padding-start: 50px;
    padding-inline-start: 50px;
    -webkit-padding-end: 50px;
    padding-inline-end: 50px;
  }
}

.list {
  width: 100%;
  ion-item {
    margin-bottom: 8px;
    --padding-top: 12px;
    --padding-bottom: 12px;
    --padding-start: 12px;
    --padding-end: 12px;
    --min-height: 24px;
    --background: #f8f8f8;
    border-radius: 10px;
    --border-radius: 10px;
  }

  ion-label {
    font-size: 14px;
    margin: 0;
    padding: 0;
    padding-left: 12px;
  }
  ion-icon {
    width: 24px;
    height: 24px;
    min-width: 24px;
    margin: 0;
  }
}
app-search-empty {
  height: calc(100% - 65px);
  display: block;
  width: 100%;
}
