<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Notifications</ion-title>
    <!-- / Header title -->

    <!-- Save action -->
    <ion-buttons slot="end">
      <ion-button class="btn btn-link btn-primary ml-10" fill="clear" mode="md" (click)="handleSaveChanges()">
        Save
      </ion-button>
    </ion-buttons>
    <!-- / Save action -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <!-- Updates -->
    <div class="notifications__label">
      Updates
    </div>
    <ion-item lines="none">
      <div vertical="center">
        <ion-checkbox
          slot="start"
          class="checkbox"
        ></ion-checkbox>
        <ion-label>
            <span class="checkbox-label">
              When a favorite product  rating change
            </span>
        </ion-label>
      </div>
    </ion-item>

    <ion-item>
      <div vertical="center" class="p-bottom--small">
        <ion-checkbox
          slot="start"
          class="checkbox"
        ></ion-checkbox>
        <ion-label>
            <span class="checkbox-label">
              When your submissions are in database
            </span>
        </ion-label>
      </div>
    </ion-item>
    <!-- / Updates -->

    <!-- Reviews -->
    <div class="notifications__label">
      Reviews
    </div>

    <ion-item>
      <div vertical="center" class="p-bottom--small">
        <ion-checkbox
          slot="start"
          class="checkbox"
        ></ion-checkbox>
        <ion-label>
            <span class="checkbox-label">
              When your review is submitted and added
            </span>
        </ion-label>
      </div>
    </ion-item>
    <!-- / Reviews -->

    <!-- Promotions -->
    <div class="notifications__label">
      Promotions
    </div>

    <ion-item>
      <div vertical="center" class="p-bottom--small">
        <ion-checkbox
          slot="start"
          class="checkbox"
        ></ion-checkbox>
        <ion-label>
            <span class="checkbox-label">
              Receiving promotional push notifications
            </span>
        </ion-label>
      </div>
    </ion-item>
    <!-- / Promotions -->
  </ion-list>
</ion-content>
