.notifications__header-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #ffffff;
}

.notifications__tabs-gap {
  padding-bottom: 66px;
}

.notifications__list {
  width: 100%;
}

.notifications__label {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0;
  color: #9E9D9D;
  padding: 20px 20px 4px;
}
