<ion-header>
  <ion-toolbar>
    <!-- Back action -->
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Submitted products</ion-title>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content class="submitted-products__content-gap">
  <!-- Tabs -->
  <div class="submitted-products__tabs-wrapper">
    <!-- <div class="submitted-products__tabs">
      
      <div
        class="submitted-products__tabs-item"
        vertical="center"
        horizontal="center"
        [ngClass]="{ 'submitted-products__tabs-item--active': activeTab === submittedProductsTabs.onReview }"
        (click)="handleChangeTab(submittedProductsTabs.onReview)"
      >
        {{ submittedProductsTabs.onReview }}
      </div> 
      <div
        class="submitted-products__tabs-item"
        vertical="center"
        horizontal="center"
        [ngClass]="{ 'submitted-products__tabs-item--active': activeTab === submittedProductsTabs.approved }"
        (click)="handleChangeTab(submittedProductsTabs.approved)"
      >
        {{ submittedProductsTabs.approved }}
      </div> 
      <div
        class="submitted-products__tabs-item"
        vertical="center"
        horizontal="center"
        [ngClass]="{ 'submitted-products__tabs-item--active': activeTab === submittedProductsTabs.declined }"
        (click)="handleChangeTab(submittedProductsTabs.declined)"
      >
        {{ submittedProductsTabs.declined }}
      </div> 
    </div> -->

    <ion-segment (ionChange)="handleChangeTab($event)" [value]="activeTab" mode="ios" class="m-bottom--medium">
      <ion-segment-button value="onReview">
        {{submittedProductsTabs.onReview}}
      </ion-segment-button>
      <ion-segment-button value="approved">
        {{ submittedProductsTabs.approved }}
      </ion-segment-button>
      <ion-segment-button value="declined">
        {{ submittedProductsTabs.declined }}
      </ion-segment-button>
    </ion-segment>
  </div>
  <!-- / Tabs -->

  <!-- <ng-container [ngSwitch]="activeTab"> -->
  <!-- On review -->
  <ng-container *ngIf="activeTab === 'onReview'">
    <ion-list lines="full">
      <ion-item *ngFor="let product of onReviewProducts">
        <div class="p-vertical--medium">
          <app-product-card [product]="product" [type]="'horizontal'" [showStars]="false" [showRatingCount]="false"
            [showFavoriteBtn]="false"></app-product-card>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
  <!-- / On review -->

  <!-- Approved -->
  <ng-container *ngIf="activeTab === 'approved'">
    <ion-list lines="full">
      <ion-item *ngFor="let product of approvedProducts">
        <div class="p-vertical--medium">
          <app-product-card [product]="product" [type]="'horizontal'" [showStars]="true" [showRatingCount]="true"
            [showFavoriteBtn]="true"></app-product-card>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
  <!-- / Approved -->

  <!-- Declined -->
  <ng-container *ngIf="activeTab === 'declined'">
    <ion-list lines="full">
      <ion-item *ngFor="let product of declinedProducts">
        <div class="p-vertical--medium">
          <app-product-card [product]="product" [type]="'horizontal'" [showStars]="false" [showRatingCount]="false"
            [showFavoriteBtn]="false"></app-product-card>
        </div>
      </ion-item>
    </ion-list>
  </ng-container>
  <!-- / Declined -->
  <!-- </ng-container> -->
</ion-content>