<ion-header>
  <ion-toolbar>
    <!-- Back action -->

    <ion-button slot="start" class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
      <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
    </ion-button>

    <!-- / Back action -->

    <!-- Header title -->
    <ion-title class="sm">Submitted products</ion-title>
    <!-- / Header title -->
  </ion-toolbar>
</ion-header>

<ion-content class="submitted-products__content-gap">
  <!-- Tabs -->

  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner>
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)" *ngIf="!loading">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <div class="submitted-products__tabs-wrapper">

    <ion-segment (ionChange)="handleChangeTab($event)" [value]="activeTab" mode="ios" class="m-bottom--medium">
      <ion-segment-button value="0">
        On review
      </ion-segment-button>
      <ion-segment-button value="1">
        Approved
      </ion-segment-button>
      <ion-segment-button value="2">
        Declined
      </ion-segment-button>
    </ion-segment>

  </div>
  <!-- / Tabs -->


  <ion-list lines="full" *ngIf="!loading">
    <ion-item *ngFor="let product of products">
      <div class="p-vertical--medium">
        <app-product-card [product]="product" [type]="'horizontal'"
          (onOpenEdit)="handleEditProduct($event)"></app-product-card>
      </div>
    </ion-item>
  </ion-list>


</ion-content>