.submitted-products__content-gap {
  --padding-top: 68px;
}

.submitted-products__tabs-wrapper {
  background: var(--ion-color-light-tint-next);
  position: fixed;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 2;
}
