<ion-content fullscreen="true" color="secondary">
  <ion-grid>
    <ion-button class="btn btn-close" fill="clear" mode="md" *ngIf="hasCloseBtn && buttonRouterUrl"
      (click)="redirect()">
      <ion-icon slot="icon-only" src="./assets/img/icon/close-icon.svg"></ion-icon>
    </ion-button>

    <div class="content ion-text-center">
      <h1 class="h1" *ngIf="title">{{ title }}</h1>
      <app-img [src]="imgSrc" cssClasses="img-fit-contain" *ngIf="imgSrc && !svg"></app-img>

      <div class="svg-container" *ngIf="!imgSrc && svg" [innerHTML]="svg | safeHtml"></div>

      <p *ngIf="description" class="dark text-m" [innerHTML]="description | safeHtml"></p>
    </div>

    <ion-button class="btn btn-primary" expand="block" fill="solid" mode="md" type="submit" *ngIf="buttonText"
      (click)="redirect()">
      {{ buttonText }}
    </ion-button>
  </ion-grid>
</ion-content>