ion-grid {
  min-height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--ion-color-secondary);
  .content {
    width: 100%;
    margin: auto;
    padding: 0 15px;
  }
  // background-image: url(/assets/img/auth-bottom-decor.svg), url(/assets/img/auth-top-decor.svg);
  // background-position: 0% 100%, 100% 0%;
  // background-repeat: no-repeat, no-repeat;

  .h1 {
    margin-bottom: 45px;
    font-size: 32px;
    line-height: 1;
  }
}

app-img {
  display: block;
  margin: 0 auto 45px;
  width: 200px;
  height: 200px;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.btn:not(.btn-close) {
  width: 100%;
}

.svg-container {
  margin-bottom: 45px;
}
