<div direction="column" vertical="center" horizontal="center" class="search-empty-state__empty-list">
  <!-- Icon -->
  <ion-icon
    class="search-empty-state__empty-list-icon m-bottom--large"
    [src]="'./assets/img/icons/empty-search-system-icon.svg'"
  ></ion-icon>
  <!-- / Icon -->

  <!-- Title -->
  <div class="search-empty-state__empty-list-title m-bottom--x-small">
    You haven't searched for anything yet.
  </div>
  <!-- / Title -->

  <!-- Description -->
  <div class="search-empty-state__empty-list-description">
    Find the product you need
  </div>
  <!-- / Description -->
</div>
