ion-content, ion-footer {
  --background: transparent;
  background: transparent;
}

ion-slides {
  height: 100%;
}

// img {
//   image-rendering: pixelated;
// }

ion-button {
  --color: #ffffff;
}
