<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="md">{{title}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-filter-row (onOpenSort)="openSortPopover()" (onOpenFilter)="openFiltersModal()"
    [resultCount]="listProducts?.count"></app-filter-row>
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>
  <div class="content">

    <ion-list lines="full" *ngIf="listProducts?.count && !isLoading">
      <ng-container *ngFor="let product of listProducts?.results">
        <div class="p-around--medium card">
          <app-product-card [product]="product" [type]="'horizontal'"></app-product-card>
        </div>
      </ng-container>
    </ion-list>

    <ion-list lines="full" *ngIf="isLoading">
      <ng-container *ngFor="let product of [1,2,3,4]">
        <div class="p-around--medium card">
          <app-product-card [product]="product" [type]="'horizontal'" [favorite]="true"
            [isLoading]="isLoading"></app-product-card>
        </div>
      </ng-container>
    </ion-list>

  </div>
  <ng-container *ngIf="!listProducts?.count && !isLoading">
    <app-search-empty class="flex-grow  "></app-search-empty>
  </ng-container>
</ion-content>