<div class="rating-count" [ngClass]="type" *ngIf="!isLoading">
  <!-- <div class="icon"> -->

  <ion-icon *ngIf="rating < 2" [src]="'./assets/img/icons/state-bad.svg'"></ion-icon>
  <ion-icon *ngIf="rating >= 2.6 && rating < 3.6" [src]="'./assets/img/icons/state-normal.svg'"></ion-icon>
  <ion-icon *ngIf="rating >= 3.6" [src]="'./assets/img/icons/state-good.svg'"></ion-icon>
  <!-- </div> -->

  <span *ngIf="rating" class="text-s fw-600 dark">{{rating}}</span>
  <span *ngIf="text">{{text}}</span>
  <span *ngIf="count">({{count}})</span>

  <p class="info" *ngIf="info">
    ?
  </p>
</div>

<div class="rating-count" [ngClass]="type" *ngIf="isLoading">
  <ion-skeleton-text class="icon" [animated]="true"></ion-skeleton-text>

  <ion-skeleton-text class="text-loader" [animated]="true"></ion-skeleton-text>
</div>