<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="md">Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner>
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <div class="content">
    <!-- Search -->
    <div class="p-bottom--large" [formGroup]="searchForm">
      <ion-searchbar mode="ios" placeholder="Search..." show-clear-button="never"
        [searchIcon]="'./assets/img/icons/search-icon-grey.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
        formControlName="search" class="highlighted-ingredients__search" (ionChange)="search($event)"></ion-searchbar>
    </div>
    <!-- / Search -->

    <ng-container *ngIf="!loading">
      <ng-container *ngFor="let brandSection of brandList">
        <div *ngIf="brandSection.brands?.length" class="section">
          <!-- Section label -->
          <div class="section-label m-bottom--x-small ion-text-uppercase">
            {{ brandSection.label }}
          </div>
          <!-- / Section label -->
          <ion-list class="list">
            <ng-container *ngFor="let brand of brandSection.brands; let last = last">
              <ion-item class="fw-600 text-m dark" button detail="true" lines="none"
                [routerLink]="['/home/tabs/tab/main/all-brands/', brand?.id, {title: brand?.title, type:'ingredients'}]">
                <span class="indicator" [ngStyle]="{ 'background': brand?.color}"></span>
                <div class="dark ">{{brand?.title}}</div>
              </ion-item>
            </ng-container>
          </ion-list>


        </div>
      </ng-container>

      <ng-container *ngIf="!brandList.length && !loading">
        <app-search-empty class="flex-grow  "></app-search-empty>
      </ng-container>
    </ng-container>

  </div>
</ion-content>