.content {
  padding: 16px;
}
.highlighted-ingredients__search {
  height: 40px;
  padding: 0;
  background: var(--ion-color-light-tint-next);
  --background: var(--ion-color-light-tint-next);
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}

.section {
  margin-bottom: 24px;
  &-label {
    font-family: "Inter";
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0;
    color: #04002c;
  }

  ion-item {
    --border-color: #f2f2f2;
    --border-width: 1px;
    --border-radius: 10px;
    border-radius: 10px;
    --min-height: 22px;
    --padding-start: 12px;
    --inner-padding-end: 0;
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-end: 12px;
    --background: #f8f8f8;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.indicator {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
}

app-search-empty {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
