<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="navCtrl.back()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="md">Ingredients</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner class="spinner" color="primary" name="lines" *ngIf="loading"></ion-spinner>
  <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <div class="content">
    <!-- Search -->
    <div class="p-bottom--large" [formGroup]="searchForm">
      <ion-searchbar mode="ios" placeholder="Search..." show-clear-button="never"
        [searchIcon]="'./assets/img/icons/search-icon-grey.svg'" [clearIcon]="'./assets/img/icon/close-icon.svg'"
        formControlName="search" class="highlighted-ingredients__search" (ionChange)="search($event)"
        [debounce]="1000"></ion-searchbar>
    </div>
    <!-- / Search -->

    <ng-container>
      <ng-container *ngFor="let brandSection of brandList">
        <div *ngIf="brandSection.brands?.length" class="section">
          <!-- Section label -->
          <div class="section-label m-bottom--x-small ion-text-uppercase">
            {{ brandSection.label }}
          </div>
          <!-- / Section label -->
          <ion-list class="list">
            <ng-container *ngFor="let option of brandSection.brands; let last = last">
              <ion-item class="fw-600 text-m dark" button detail="true" lines="none"
                [routerLink]="['/home/tabs/tab/main/all-brands/', option?.id, {title: option?.title, type:'ingredients'}]">

                <div *ngIf="option?.is_benefit && getPriorityValue(option) === 'is_benefit'" class="indicator"
                  [ngStyle]="{ 'background': '#22B51F' }"></div>
                <div *ngIf="option?.is_weaknesses && getPriorityValue(option) === 'is_weaknesses'" class="indicator"
                  [ngStyle]="{ 'background': '#FF001C' }"></div>
                <div *ngIf="option?.is_contamintant && getPriorityValue(option) === 'is_contamintant'" class="indicator"
                  [ngStyle]="{ 'background': '#FF9635' }"></div>
                <div *ngIf="option?.is_allergen && getPriorityValue(option) === 'is_allergen'" class="indicator"
                  [ngStyle]="{ 'background': '#FDE334' }"></div>
                <div class="dark ">{{option?.title}}</div>
              </ion-item>
            </ng-container>
          </ion-list>


        </div>
      </ng-container>

      <ng-container *ngIf="!brandList.length && !loading">
        <app-search-empty class="flex-grow  "></app-search-empty>
      </ng-container>
    </ng-container>

  </div>

  <ng-container *ngIf="brandList?.length">
    <ion-infinite-scroll threshold="0" (ionInfinite)="loadData()" position="bottom" [disabled]="disableInfinity">
      <ion-infinite-scroll-content loadingSpinner="bubbles" color="primary">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-container>
</ion-content>