<ion-list lines="full">
  <ion-item *ngFor="let ingredient of ingredientsHistory">
    <div class="ingredients-history__wrapper p-vertical--medium" vertical="center" horizontal="between">
      <div vertical="center" class="p-right--medium">
        <div
          class="ingredients-history__badge m-right--x-small"
          [ngStyle]="{ 'background': ingredient.color }"
        ></div>
        <div class="ingredients-history__item-label">
          {{ ingredient.label }}
        </div>
      </div>

      <!-- List actions -->
      <ion-button class="btn btn-link m-right--x-small" fill="clear" mode="md">
        <ion-icon [src]="'./assets/img/icons/arrow-right.svg'"></ion-icon>
      </ion-button>
      <!-- / List actions -->
    </div>
  </ion-item>
</ion-list>

<div class="p-horizontal--medium p-top--medium p-bottom--xx-large">
  <ion-button
    class="btn btn-sm"
    expand="block"
    fill="outline"
    mode="md"
    color="primary"
    (click)="onCleanHistory.emit()"
  >
    <b>Clean history</b>
  </ion-button>
</div>
