<ion-header mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="btn btn-link ml-10" fill="clear" mode="md" (click)="cancelModal()">
        <ion-icon [src]="'./assets/img/icons/icon-back.svg'"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="md">{{id ? 'Edit submission': 'Add product'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="id">
    <ion-spinner class="spinner" color="primary" name="lines" *ngIf="isLoading"></ion-spinner>
    <ion-refresher slot="fixed" mode="ios" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content mode="ios" pullingIcon="arrow-down" refreshingSpinner="lines"></ion-refresher-content>
    </ion-refresher>
  </ng-container>
  <div class="content" *ngIf="!id || id && !isLoading">
    <form class="form" [formGroup]="form">
      <div class="file-control">
        <ion-label>Product front packing image*</ion-label>
        <ion-button class="btn btn-outline" expand="block" fill="outline" mode="md" (click)="openSourcePopover()"
          *ngIf="!form.value?.photo && !form.value?.images?.length">
          <ion-icon src="./assets/img/product/upload.svg"></ion-icon>
          Upload image
        </ion-button>

        <div class="product-image" (click)="openSourcePopover()"
          *ngIf="form.value?.photo || form.value?.images?.length">
          <app-img [src]="image || form.value?.photo || form.value?.images[0]?.image"
            cssClasses="img-fit-contain"></app-img>
        </div>
      </div>
      <div class="form-control relative-block scan-control">
        <ion-item class="form-item sm" mode="ios" lines="none">
          <ion-label position="stacked">Barcode*</ion-label>
          <ion-input formControlName="barcode" type="text" inputmode="text" placeholder="Enter barcode or scan"
            autocomplete="off"></ion-input>
          <ion-note slot="error" *ngIf="!form.get('barcode')?.value && 
                          form.get('barcode')!.invalid && form.get('barcode')!.touched">
            This field can’t be empty
          </ion-note>
        </ion-item>
        <ion-button class="btn" fill="clear" mode="md" (click)="scanBarcode()" [disabled]="isLoading">
          <ion-spinner name="crescent" color="primary" *ngIf="isLoading && type ==='barcode'; else icon"></ion-spinner>
          <ng-template #icon>
            <ion-icon slot="icon-only" src="./assets/img/product/scan.svg"></ion-icon>
          </ng-template>
        </ion-button>
      </div>
      <div class="form-control">
        <ion-item class="form-item sm" mode="ios" lines="none">
          <ion-label position="stacked">Brand*</ion-label>
          <ion-input formControlName="brand" type="text" inputmode="text" placeholder="Enter brand name"
            autocomplete="off"></ion-input>
          <ion-note slot="error"
            *ngIf="!form.get('brand')?.value && form.get('brand')!.invalid && form.get('brand')!.touched">
            This field can’t be empty
          </ion-note>
        </ion-item>
      </div>
      <div class="form-control">
        <ion-item class="form-item sm" mode="ios" lines="none">
          <ion-label position="stacked">Product*</ion-label>
          <ion-input formControlName="title" type="text" inputmode="text" placeholder="Enter product name"
            autocomplete="off"></ion-input>
          <ion-note slot="error"
            *ngIf="!form.get('title')?.value && form.get('title')!.invalid && form.get('title')!.touched">
            This field can’t be empty
          </ion-note>
        </ion-item>
      </div>
      <div class="form-control relative-block scan-control">
        <ion-item class="form-item sm" mode="ios" lines="none">
          <ion-label position="stacked">Ingredients*</ion-label>
          <ion-textarea formControlName="ingredients" type="text" inputmode="text"
            placeholder="Enter product ingredients or  scan" autocomplete="off"></ion-textarea>
          <ion-note slot="error"
            *ngIf="!form.get('ingredients')?.value && form.get('ingredients')!.invalid && form.get('ingredients')!.touched">
            This field can’t be empty
          </ion-note>
        </ion-item>
        <ion-button class="btn" fill="clear" mode="md" (click)="takeTextFromImage('ingredients')"
          [disabled]="isLoading">
          <ion-spinner name="crescent" color="primary"
            *ngIf="isLoading && type ==='ingredients'; else icon"></ion-spinner>
          <ng-template #icon>
            <ion-icon slot="icon-only" src="./assets/img/product/scan.svg"></ion-icon>
          </ng-template>
        </ion-button>
      </div>

      <div class="form-control relative-block scan-control">
        <ion-item class="form-item sm" mode="ios" lines="none">
          <ion-label position="stacked">Description</ion-label>
          <ion-textarea formControlName="description" type="text" inputmode="text"
            placeholder="Enter product description or scan" autocomplete="off"></ion-textarea>
        </ion-item>
        <ion-button class="btn" fill="clear" mode="md" (click)="takeTextFromImage('description')"
          [disabled]="isLoading">
          <ion-spinner name="crescent" color="primary"
            *ngIf="isLoading && type ==='description'; else icon"></ion-spinner>
          <ng-template #icon>
            <ion-icon slot="icon-only" src="./assets/img/product/scan.svg"></ion-icon>
          </ng-template>
        </ion-button>
      </div>

      <!-- <div class="form-error" *ngIf="form?.invalid && form?.hasError(' wrongLogin')">
          {{ form!.errors?.['wrongLogin'] }}
        </div> -->

    </form>
  </div>
</ion-content>

<ion-footer *ngIf="!id || id && !isLoading">
  <ion-button class="btn btn-primary mb-5" expand="block" fill="solid" mode="md" [disabled]="form.invalid || isLoading"
    (click)="requestProduct()">
    Submit
    <ion-spinner *ngIf="isLoading" class="spinner" name="crescent"></ion-spinner>
  </ion-button>
</ion-footer>